@model MyAndromeda.Web.Areas.Menu.ViewModels.DebugViewModel
@{
    var context = Html.GetWorkContext();
}

<div id="MenuDebug" class="header">
    <h3>Menu
        @if (Model != null) 
        {
            <span>Access version: @Model.AccessVersion</span>
        }
    </h3>
    <a class="k-button k-button-force-check" href="@Url.Action("QueryForNewMenu", new { Force = true })">Force menu check</a>
    <a class="k-button k-button-force-delete-data" href="@Url.Action("ForceDeleteDatabaseMenu")">Delete database records</a>
    <a class="k-button k-button-force-delete-access" href="@Url.Action("ForceDeleteAccessMenu")">Delete access database</a>
</div>
<div id="MenuDebugArea" data-bind="source: this" data-template="debug-menu">
</div>
<div id="MenuFtpTransactionLog" style="overflow:auto; max-height:400px; border:1px;">
    <div data-bind="source: this" data-template="ftp-transaction-log"></div>
</div>

@using (Html.BeginScripts("StoreDebugBit", Area.Foot))
{
    if (false)
    { 
        <script src="~/lib/myandromeda/MyAndromeda.App.All.js"></script>
    }
    
    <script type="text/ecmascript">
        $(function () {
            $("#MenuDebug").on("click", ".k-button-force-check", function (e) {
                e.preventDefault();
                $.ajax({
                    url : '@Url.Action("QueryForNewMenu", new { Force = true })'
                });
            });
            $("#MenuDebug").on("click", ".k-button-force-delete-data", function (e) {
                e.preventDefault();

                if (!confirm("This will remove the database relations (thumbnails)! Are you sure?")) {
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ForceDeleteDatabaseMenu", new { Force = true })'
                });
            });
            $("#MenuDebug").on("click", ".k-button-force-delete-access", function (e) {
                e.preventDefault();

                if (!confirm("This will remove the access database file! Are you sure?")) {
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ForceDeleteAccessMenu", new { Force = true })'
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            var options = {
                chainId: '@context.CurrentChain.Chain.Id',
                externalSiteId: '@context.CurrentSite.Site.ExternalSiteId'
            };

            var hubService = new MyAndromeda.Hubs.Services.MenuHubService(options);
            hubService.init();

@*            var askForNewMenu = $.ajax({
                url: "@Url.Action("QueryForNewMenu")",
                type: "POST",
                dataType: "json"
            });

            askForNewMenu.success(function (data) { console.log(data); });*@
        });
    </script>
    <script id="debug-menu" type="text/template">
        <div class="clearfix">
            <div class="header">
                <h3>Listening to: 
                    <span data-bind="text: siteName"></span>
                </h3>
            </div>
            <div data-bind="source: updates" data-templat="debug-menu-updated-row" >
            </div>
        </div>
    </script>
    <script id="debug-menu-updated-row" type="text/template">
        <div data-bind="text: Message"></div>
    </script>
    <script id="ftp-transaction-log" type="text/template">
        <div data-bind="text: value"></div>
    </script>
}