@model AndroAdmin.Model.FTPSiteViewModel
@using AndroAdminDataAccess.Domain
@{
    ViewBag.Title = "Add FTP Site";
    Layout = "~/Views/Shared/_AMSLayout.cshtml";
}

<h2>Add AMS FTP Site</h2>
@using (Html.BeginForm()) 
{ 
    @Html.ValidationSummary(true) 
 
    <div class="editor-label"> 
        @Html.LabelFor(model => model.FtpSite.Name) 
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.FtpSite.Name) 
        @Html.ValidationMessageFor(model => model.FtpSite.Name) 
    </div> 
        
    <div class="editor-label"> 
        @Html.LabelFor(model => model.FtpSite.Url)
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.FtpSite.Url) 
        @Html.ValidationMessageFor(model => model.FtpSite.Url) 
    </div>

    <div class="editor-label"> 
        @Html.LabelFor(model => model.FtpSite.Port) 
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.FtpSite.Port) 
        @Html.ValidationMessageFor(model => model.FtpSite.Port) 
    </div>

    <div class="editor-label"> 
        @Html.LabelFor(model => model.FtpSite.FTPSiteType) 
    </div> 
    <div class="editor-field"> 
        @Html.DropDownListFor(model => model.FTPSiteType,
                new SelectList(Model.FtpSiteTypes, "Id", "Name", Model.FTPSiteType))
        @Html.ValidationMessageFor(model => model.FtpSite.FTPSiteType) 
    </div>
    
    <div class="editor-label"> 
        @Html.LabelFor(model => model.FtpSite.Username) 
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.FtpSite.Username) 
        @Html.ValidationMessageFor(model => model.FtpSite.Username) 
    </div>

    <div class="editor-label"> 
        @Html.LabelFor(model => model.FtpSite.Password) 
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.FtpSite.Password) 
        @Html.ValidationMessageFor(model => model.FtpSite.Password) 
    </div>
    
    <p class="editor-submitButton"> 
        <input type="submit" value="Add FTP site" />
        @Html.ActionLink("Cancel", "Index")
    </p> 
 
}