@model IEnumerable<AndroAdminDataAccess.Domain.FTPSite>

@{
    ViewBag.Title = "Manage FTP Sites";
    Layout = "~/Views/Shared/_AMSLayout.cshtml";
}

<h2>Manage AMS FTP Sites</h2>

@if (ViewBag.Permissions.Contains("AddFTPSite"))
{
<div class="topLink">
    @Html.ActionLink("Add a new FTP site", "Add")
</div>
}

<table class="listTable" id="ftpSites">
    <thead>
        <tr>
            <th>Name</th>
            <th>Url</th>
            <th>Port</th>
            <th>Type</th>
            <th>Username</th>
            <th>Password</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (AndroAdminDataAccess.Domain.FTPSite ftpSite in Model)
{
        <tr>
            <td>
                @if (ViewBag.Permissions.Contains("EditFTPSite"))
                {
                    @Html.ActionLink(ftpSite.Name, "Update", new { id = ftpSite.Id.ToString() })
                }
                else
                { 
                    <span>@ftpSite.Name</span>
                }
            </td>
            <td>@ftpSite.Url</td>
            <td>@ftpSite.Port</td>
            <td>@ftpSite.FTPSiteType.Name</td>
            <td>@ftpSite.Username</td>
            <td>@ftpSite.Password</td>
            <td>
                @if (ViewBag.Permissions.Contains("DeleteFTPSite"))
                {
                    <a href="#" onclick="showConfirmDialog(function() {window.location.href ='@Url.Action("Delete", new { id = ftpSite.Id.ToString() })'}, confirmationMessage)">delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    $('#ftpSites').dataTable();

    var confirmationMessage = 'Are you sure you want to delete the ftp site?<br />The ftp site will be permanently deleted.';
</script>