@model MyAndromeda.WebApiServices.Models.Email.FailedMessage

@section Header 
{
To: @Model.Contact.Value
Bcc: matthew.green@androtech.com
From: donotreply@androtech.com
Subject: Order update - declined
}

@section StoreHeader 
{
    <h1>@Model.Site.ClientSiteName</h1>
}

<h2>Order Declined</h2>

<p>Dear @Model.Customer.FirstName Your order has been cancelled for the following reason:</p>
<p>@Model.Message</p>

<p>Order Id: @Model.Order.RamesesOrderNum</p>

@if (Model.Order.paytype != MyAndromeda.Data.DataWarehouse.DataWarehouseDefinitions.PayTypes.PayLater)
{ 
    <p><b>Please contact immediately to arrange a refund. @Model.Site.PhoneNumber</b></p>
}
