@model AndroAdminDataAccess.Domain.AMSServer

@{
    ViewBag.Title = "Add AMS Server";
    Layout = "~/Views/Shared/_AMSLayout.cshtml";
}

<h2>Add AMS Server</h2>
@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true) 
 
    <div class="editor-label"> 
        @Html.LabelFor(model => model.Name) 
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.Name) 
        @Html.ValidationMessageFor(model => model.Name) 
    </div> 
    
    <div class="editor-label"> 
        @Html.LabelFor(model => model.Description) 
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.Description) 
        @Html.ValidationMessageFor(model => model.Description) 
    </div> 
    
    <p class="editor-submitButton"> 
        <input type="submit" value="Add AMS Server" />
        @Html.ActionLink("Cancel", "Index")
    </p> 
}
