@model MyAndromeda.Web.Areas.AndroWebOrdering.Models.AndroWebOrderingWebSiteModel



@{
    var controlButtons = Html.CreateHtmlTemplate();    
}

@using (controlButtons.CreateTemplate) { 
    <button class='k-button editCarouselBtn' name='Edit'>Edit</button>
    <button class='k-button deleteCarouselBtn' name='Delete'>Delete</button>
}

@using (Html.BeginForm("EditCarousel1", "AndroWebOrdering", FormMethod.Post, new { Id = Model.Id, enctype = "multipart/form-data" }))
{

    @Html.Hidden("Id", Model.Id)
    @Html.Hidden("ItemId", "")
    <input type="hidden" id="CarouselTypesList" value="@ViewBag.CarouselTypes">
    <div id="CarouselItemsList">
        <div style="margin-top: 10px;">
            @(Html.Kendo().Grid(Model.WebsiteConfigurations.Home.Carousel1.Items)
                 .Name("CarouseItemsGrid")
                 .ToolBar(tools => tools.Template(@<text><button id="btnAdd" name="Add" class="k-button k-primary" value="Add">Add</button></text>))
                 .Columns(cols =>
                 {
                     cols.Bound(e => e.Type).Title("<b>Type</b>");
                     cols.Bound(e => e.Description).Title("<b>Description</b>").Visible(false);
                     cols.Bound(e => e.IsOverlayText).Title("<b>Is OverlayText</b>").Template(@<text>
                    @if (item.IsOverlayText)
                    {<p>Yes</p>}
                    else
                    {<p>No</p>}
                    </text>);
                     //cols.Command(c => c.Destroy()).Width(100);
                     cols.Template(@<text></text>).ClientTemplate(controlButtons.Result);
                 })
            .Filterable()
            .Sortable()
            .Pageable(paging => paging.Refresh(true))
            .DataSource(dataSource =>
            {
                dataSource.Ajax()
                    .Update(u => u.Action("EditCarousel1", "AndroWebOrdering"))
                    .Destroy(d => d.Action("DeleteCarousel1", "AndroWebOrdering", new { Id = Model.Id }))
                    .ServerOperation(false)
                    .PageSize(10)
                    .Model(model => { model.Id(e => e.ItemId); })
                    .Batch(false);
            })
            )
        </div>
    </div>

    @Html.Partial("EditCarousel1")
}


<script type="text/javascript">

    jQuery(function () {
        var grid = $("#CarouseItemsGrid").data("kendoGrid");

        $("#CarouseItemsGrid").on("click", ".editCarouselBtn", function (e) {
            e.preventDefault();
            //alert("entered");
            var button = $(this);
            var tr = button.closest("tr");
            var dataItem = grid.dataItem(tr);
            kendo.bind("#carouselListItemTemplate", dataItem);
            $("#CarouselItemType")[0].selectedIndex = dataItem.Type + 1;
            $("#addTemplate").show();
            setTemplateDisplay(dataItem.Type);
            $("#CarouselItemsList").hide();
            if (dataItem.Type != undefined || dataItem.Type == 0 || dataItem.Type != "") {
                $("#carouselTypeLabel").text($("#CarouselItemType").val());
                $("#CarouselItemType").hide();
                $("#CarouselItemType").hide();
            }
            else {
                $("#carouselTypeLabel").text("");
                $("#CarouselItemType").show();
                $("#CarouselItemType").removeAttr("disabled");
            }
        });

        $("#CarouseItemsGrid").on("click", ".deleteCarouselBtn", function (e) {
            var button = $(this);
            var tr = button.closest("tr");
            var dataItem = grid.dataItem(tr);
            $("#ItemId").val(dataItem.ItemId);
        });

    });


    function setTemplateDisplay(type) {
        switch (type) {
            case 0: $("#MenuTemplate").show(); break;
            case 1: $("#DealTemplate").show(); break;
            case 2: $("#ImageTemplate").show(); break;
            case 3: $("#HtmlTemplate").show(); break;
        }
    }

    $("#btnAdd").click(function (e) {
        $("#addTemplate").show();
        $("#CarouselItemsList").hide();
        e.preventDefault();
    });

    function showGrid() {
        //Hide sections
        $("#addTemplate").hide();
        $("#ImageTemplate").hide();
        $("#CarouselItemType").val("");
        $("#isOverlayText").removeAttr("checked");
        $('#carousel1ImageLogo').attr('src', '');
        $("#HtmlTemplate").hide();
        $("#editor").val('');

        //Show sections
        $("#CarouselItemsList").show();
        $("#CarouselItemType").removeAttr("disabled");
        $("#CarouselItemType").show();
        $("#carouselTypeLabel").text("");
    }

    $("#CarouselItemType").change(function (e) {
        if ($(this).val().toLowerCase() == "html") {
            $("#hdnType").val(3);
            $("#ImageTemplate").hide();
            $("#HtmlTemplate").show();
        }
        else if ($(this).val().toLowerCase() == "image") {
            $("#ImageTemplate").show();
            $("#hdnType").val(2);
            $("#HtmlTemplate").hide();
        }
        else if ($(this).val().toLowerCase() == "menu") {
            //$("#ImageTemplate").show();
            $("#hdnType").val(0);
            $("#ImageTemplate").hide();
            $("#HtmlTemplate").hide();
        }
        else if ($(this).val().toLowerCase() == "deal") {
            //$("#ImageTemplate").show();
            $("#hdnType").val(1);
            $("#ImageTemplate").hide();
            $("#HtmlTemplate").hide();
        }
        else {
            $("#ImageTemplate").hide();
            $("#HtmlTemplate").hide();
        }
    });

    $("#btnSave").click(function () {
        $("#ItemId").val($("#hdnItemId").val());
        if ($("#CarouselItemType")[0].selectedIndex == 0) {
            $("#hdnType").val('');
        }
    });

    $(".carousel1").change(function () {
        readCarousel1URL(this);
    });

    function readCarousel1URL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#carousel1ImageLogo').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }


</script>
