          
@model IList<AndroAdminDataAccess.Domain.StoreAMSServerFtpSiteListItem>

@{
    ViewBag.Title = "Manage AMS Stores";
    Layout = "~/Views/Shared/_AMSLayout.cshtml";
}

<h2>AMS Stores</h2>

<table class="listTable" id="storeAMSServerFTPSites">
    <thead>
        <tr>
            <th>Store name</th>
            <th>Andro Id</th>
            <th>Status</th>
            <th>Country</th>
            <th>Upload to AMS server</th>
            <th>Last uploaded business day</th>
        </tr>
    </thead>
    <tbody>
@foreach (AndroAdminDataAccess.Domain.StoreAMSServerFtpSiteListItem storeAMSServerFtpSiteViewModel in Model)
{
    <tr>
        @if (ViewBag.Permissions.Contains("ViewStores"))
        {
            <td>@Html.ActionLink(storeAMSServerFtpSiteViewModel.StoreName, "StoreAMSUpload", "Store", new { id = storeAMSServerFtpSiteViewModel.StoreId.ToString() }, null)</td>
        }
        else
        {
            <td>storeAMSServerFtpSiteViewModel.StoreName</td>
        }    
        <td>@storeAMSServerFtpSiteViewModel.AndroStoreId</td>
        <td>@storeAMSServerFtpSiteViewModel.StoreStatus</td>
        <td>@storeAMSServerFtpSiteViewModel.Country</td>

        <td>@storeAMSServerFtpSiteViewModel.AMSServerName</td>
        <td>
            @(storeAMSServerFtpSiteViewModel.LastUploaded.HasValue ? storeAMSServerFtpSiteViewModel.LastUploaded.Value.ToString("ddd dd MMM yyyy") : "")
        </td>
    </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    $('#storeAMSServerFTPSites').dataTable(
        {
            "sScrollY": "500px",
            "bScrollCollapse": true,
            "bPaginate": false,
            "sPaginationType": "scrolling",
            "aaSorting": [[5, "desc"]]
        }
     );
</script>