@model AndroAdmin.Model.SecurityGroupModel

@{
    ViewBag.Title = "Add security group";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Html.ActionLink("Security Groups", "Index") / Add security group</h2>

@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true) 
 
    <div class="editor-label"> 
        @Html.LabelFor(model => model.SecurityGroup.Name) 
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.SecurityGroup.Name) 
        @Html.ValidationMessageFor(model => model.SecurityGroup.Name) 
    </div>
    
    <div class="editor-label"> 
        @Html.LabelFor(model => model.SecurityGroup.Description) 
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.SecurityGroup.Description) 
        @Html.ValidationMessageFor(model => model.SecurityGroup.Description) 
    </div>
    
    <p class="editor-submitButton"> 
        <input type="submit" value="Add Security Group" />
        @Html.ActionLink("Cancel", "Index")
    </p> 
}