@model AndroAdminDataAccess.Domain.Partner

@{
    ViewBag.Title = "Add partner";
    Layout = "~/Views/Shared/_WebOrderingLayout.cshtml";
}

<div id="AddPartner">
    <h2>@Html.ActionLink("Partners", "Index", "Partner", new { }) / Add partner</h2>

    @using (Html.BeginForm())
    { 
        @Html.ValidationSummary(true) 
 
        <div class="editor-label"> 
            @Html.LabelFor(model => model.Name) 
        </div> 
        <div class="editor-field"> 
            @Html.TextBoxFor(model => model.Name) 
            @Html.ValidationMessageFor(model => model.Name) 
        </div> 
        <div class="formFieldHelp">The partner name is used only for display purporses in Andro Admin.</div>
    
        <div class="editor-label"> 
            @Html.LabelFor(model => model.ExternalId) 
        </div> 
        <div class="editor-field"> 
            @Html.TextBoxFor(model => model.ExternalId) 
            @Html.ValidationMessageFor(model => model.ExternalId)
        </div>
        <div class="formFieldHelp">This ID is not currently used.  Please use the auto generated number unless instructed otherwise.</div> 
    
        <p class="editor-submitButton"> 
            <input type="submit" value="Add Partner" />
            @Html.ActionLink("Cancel", "Index", "Partner")
        </p>
    }
</div>