@model AndroAdmin.Model.ACSApplicationModel

@{
    ViewBag.Title = "Application diagnostics";
    Layout = "~/Views/Shared/_WebOrderingLayout.cshtml";
}

<div id="AddPartner">
    <h2>@Html.ActionLink("Partners", "Index", "Partner", new { }) / @Html.ActionLink(@Model.Partner.Name, "Details", new { id = @Model.Partner.Id.ToString() }) /  @Html.ActionLink(@Model.ACSApplication.Name, "Application", new { id = @Model.ACSApplication.Id.ToString() }) / Diagnostics</h2>
    
    The following is the data currently being returned by the live ACS server:
    
    <h3>Host list</h3>
    <h4>@ViewBag.HostListUrl</h4>
    <textarea readonly style="width:100%; height:200px;">@ViewBag.HostList</textarea>
    
    <h3>Site list</h3>
    <h4>@ViewBag.SiteListUrl</h4>
    <textarea readonly style="width:100%; height:400px;">@ViewBag.SiteList</textarea>

</div>