@model AndroAdmin.ViewModels.HostV2.HostStoreSelectionViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StoresLayout.cshtml";
}

@Html.Partial("~/views/Store/StoreDetailsTabsPartial.cshtml", new AndroAdmin.Model.StoreModel() { Store = new AndroAdminDataAccess.Domain.Store() { Id = Model.StoreId } })
<!-- todo add styling for the rest of the tab --> 

<h2>Store Host List</h2>

<div class="content">

    <ul>
        <li>These changes only apply to version 2 of the host services. </li>
        <li>Are only applicable to the private calls to the host services.  </li>
    </ul>
</div>

@(Html.Kendo().TabStrip()
    .Name("StoreList")
    .Items(items =>
    {
        items.Add().Text("Connections").Content(@<text>
@Html.Partial("PartialHostSelection", Model)
</text>).Selected(true);

        items.Add().Text("Private Service").Content(@<text>@Html.Partial("PartialPrivateServicesHelp", Model)</text>);
        items.Add().Text("Public Service").Content(@<text>@Html.Partial("PartialPublicServicesHelp", Model)</text>);

    })
)

