@model IEnumerable<MyAndromeda.Core.Site.IEnrolmentLevel>

<div class="header">
    <h3>Enrollment Levels</h3>
    <a class="k-button" href="@Url.Action("Create")">Create</a>
</div>
<table id="EnrolmentTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var level in Model.OrderBy(e=> e.Name)) 
    {
        <tr>
            <td>@level.Name</td>
            <td>@level.Description</td>
            <td>
                <a class="k-button" href="@Url.Action("AssignPermissionsToRoleStoreEnrolment", "Permission", new { Area = "Authorization", Name= level.Name } )">
                    Permissions
                </a>

                <a class="k-button" href="@Url.Action("Delete", new { Name = level.Name })">
                    Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@using (Html.BeginScripts())
{ 
    <script type="text/javascript">
        $(function () {
            $("#EnrolmentTable").kendoGrid();
        });
    </script>
}