@model AndroAdmin.Model.StoreModel

@{
    ViewBag.Title = "Update Store";
    Layout = "~/Views/Shared/_StoresLayout.cshtml";
}

<h2>Update Store</h2>

@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true) 
 
    @Html.HiddenFor(model => model.Store.Id);
    
    <!-- StoreName -->
    <div class="editor-label"> 
        @Html.LabelFor(model => model.Store.Name) 
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.Store.Name) 
        @Html.ValidationMessageFor(model => model.Store.Name) 
    </div> 
    
    <!-- CustomerSiteId -->
    <div class="editor-label"> 
        @Html.LabelFor(model => model.Store.CustomerSiteId) 
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.Store.CustomerSiteId) 
        @Html.ValidationMessageFor(model => model.Store.CustomerSiteId) 
    </div>
    
    <!-- StoreStatus -->
    <div class="editor-label"> 
        @Html.LabelFor(model => model.Store.StoreStatus) 
    </div> 
    <div class="editor-field"> 
        @Html.DropDownListFor(model => model.StoreStatusId,
            new SelectList(Model.StoreStatuses, "Id", "Status", Model.StoreStatusId))
        @Html.ValidationMessageFor(model => model.Store.StoreStatus) 
    </div>

    <!-- Country -->
    <div class="editor-label"> 
        @Html.LabelFor(model => model.Store.Address.Country)
    </div> 
    <div class="editor-field">
        @Html.DropDownListFor(model =>Model.CountryId,
            new SelectList(Model.Countries, "Id", "CountryName", Model.CountryId))
        @Html.ValidationMessageFor(model => Model.Store.Address.Country) 
    </div>
    
    <p class="editor-submitButton"> 
        <input type="submit" value="Update Store" />
        @Html.ActionLink("Cancel", "Index", "Store")
    </p> 
}