@model AndroAdmin.Model.StoreBringgConfigModel

@{
    ViewBag.Title = "StoreDetails";
    Layout = "~/Views/Shared/_StoresLayout.cshtml";
}

@section Head 
{
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jqueryui.css")" />
}

<!-- Breadcrumb -->
<h2>@Html.ActionLink("Manage Stores", "Index", "Store", new { }) / @Model.Store.Name</h2>

<div id="StoreBringgPage" class="ui-tabs ui-widget ui-widget-content ui-corner-all">

    <!-- Tabs -->
    @Html.Partial("StoreDetailsTabsPartial", Model, new ViewDataDictionary {{ "SelectedTab", "Bringg" }})
    
    <div id="tabs-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" style="" aria-expanded="true" aria-hidden="false">
        
        <!-- Bringg details -->
        @if (ViewBag.Edit)
        {
            using (Html.BeginForm())
            {
                @Html.HiddenFor(model => model.Store.Id)

                if (ViewBag.Permissions.Contains("EditStore"))
                {
                    <div>
                        <div class="actionLinks" style="float:left;">
                            <input type="submit" value="save changes" class="button" />
                            @Html.ActionLink("cancel changes", "Bringg", new { id = Model.Store.Id, edit = false }, new { @class = "changeLink" })
                        </div>
                        <span style="float:right;">@Html.ActionLink("Help", "Bringg", "Help", null, new { target = "_blank" })</span>
                    </div>

                    <div style="clear:both;"></div>
                }
            
                @*Bringg Settings*@
                <fieldset>

                    <legend>
                        <span>Bringg Settings</span>
                    </legend>

                    <!-- AndromedaSiteId -->
                    <div class="editor-label">
                        Bringg integration enabled:
                    </div>
                    <div class="editor-field">
                        @Html.CheckBoxFor(model => model.GPSConfig.isEnabled, new { id = "isBringgEnabledCheckbox" })
                    </div>
                    <div class="formFieldHelp">Whether of not the stores orders should go to Bringg</div>

                    <div id="bringgConfig" style="display:none;">
                        <!-- Company id -->
                        <div class="editor-label">
                            Company id:
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.GPSConfig.partnerConfig.companyId)
                        </div>
                        <div class="formFieldHelp">The company id as displayed on the Bringg website</div>

                        <!-- Access token -->
                        <div class="editor-label">
                            Access token:
                        </div>
                        <div class="editor-field-long">
                            @Html.TextBoxFor(model => model.GPSConfig.partnerConfig.accessToken)
                        </div>
                        <div class="formFieldHelp">The access token as displayed on the Bringg website</div>

                        <!-- Secret key -->
                        <div class="editor-label">
                            Secret key:
                        </div>
                        <div class="editor-field-long">
                            @Html.TextBoxFor(model => model.GPSConfig.partnerConfig.secretKey)
                        </div>
                        <div class="formFieldHelp">The secret key as displayed on the Bringg website</div>

                        <!-- Bringg API url -->
                        <div class="editor-label">
                            Bringg API url:
                        </div>
                        <div class="editor-field-long">
                            @Html.TextBoxFor(model => model.GPSConfig.partnerConfig.apiUrl)
                        </div>
                        <div class="formFieldHelp">The Bringg API url (do not change this unless specifically instructed to do so)</div>

                        <!-- Bringg start shift API url -->
                        <div class="editor-label">
                            Bringg start shift API url:
                        </div>
                        <div class="editor-field-long">
                            @Html.TextBoxFor(model => model.GPSConfig.partnerConfig.clockInAPIUrl)
                        </div>
                        <div class="formFieldHelp">The Bringg start shift API url.  Bringg admin website > Webhooks & API > API tab.  If it's not listed select "API Type" select the "start shift" API Type, click "Add Service".  Copy the url listed.</div>

                    </div>

                    <script>
                        $('#bringgConfig').toggle($('#isBringgEnabledCheckbox').is(':checked'));
                        $('#isBringgEnabledCheckbox').change
                        (
                            function ()
                            {
                                $('#bringgConfig').toggle($(this).is(':checked'));
                            }
                        );
                    </script>

                </fieldset>
            }
        }
        else
        {
            if (ViewBag.Permissions.Contains("EditStore"))
            {
                <div>
                    <div class="actionLinks" style="float:left;">
                        @Html.ActionLink("change the Bringg settings", "Bringg", new { id = Model.Store.Id, edit = true }, new { @class = "changeLink" })
                    </div>
                    <span style="float:right;">@Html.ActionLink("Help", "Bringg", "Help", null, new { target = "_blank" })</span>
                </div>

                <div style="clear:both;"></div>
            }
            else
            {
                <div>
                    <span style="float:right;">@Html.ActionLink("Help", "Bringg", "Help", null, new { target = "_blank" })</span>
                </div>

                <div style="clear:both;"></div> 
            }
                    
            @*Bringg Settings*@
            <fieldset>

                <legend>
                    <span>Bringg Settings</span>
                </legend>

                <!-- AndromedaSiteId -->
                <div class="editor-label">
                    Bringg integration enabled:
                </div>
                <div class="editor-field isBringgEnabled">
                    @if (Model.GPSConfig.isEnabled == true)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </div>
                <div class="formFieldHelp">Whether of not the store should be linked with Bringg</div>

                @if (Model.GPSConfig.isEnabled == true)
                {
                    <!-- Company id -->
                    <div class="editor-label">
                        Company id:
                    </div>
                    <div class="editor-field">
                        @Model.GPSConfig.partnerConfig.companyId
                    </div>
                    <div class="formFieldHelp">The company id as displayed on the Bringg website</div>

                    <!-- Access token -->
                    <div class="editor-label">
                        Access token:
                    </div>
                    <div class="editor-field">
                        @Model.GPSConfig.partnerConfig.accessToken
                    </div>
                    <div class="formFieldHelp">The access token as displayed on the Bringg website</div>

                    <!-- Secret key -->
                    <div class="editor-label">
                        Secret key:
                    </div>
                    <div class="editor-field">
                        @Model.GPSConfig.partnerConfig.secretKey
                    </div>
                    <div class="formFieldHelp">The secret key as displayed on the Bringg website</div>

                    <!-- Bringg API url -->
                    <div class="editor-label">
                        Bringg API url:
                    </div>
                    <div class="editor-field">
                        @Model.GPSConfig.partnerConfig.apiUrl
                    </div>
                    <div class="formFieldHelp">The Bringg API url (do not change this unless specifically instructed to do so)</div>

                    <!-- Bringg start shift API url -->
                    <div class="editor-label">
                        Bringg start shift API url:
                    </div>
                    <div class="editor-field">
                        @Model.GPSConfig.partnerConfig.clockInAPIUrl
                    </div>
                    <div class="formFieldHelp">The Bringg start shift API url.  Bringg admin website > Webhooks & API > API tab.  If it's not listed select "API Type" select the "start shift" API Type, click "Add Service".  Copy the url listed.</div>
                }
            </fieldset>
        }
    </div>
</div>
