@model IEnumerable<AndroAdminDataAccess.Domain.StoreListItem>

@{
    ViewBag.Title = "Manage Stores";
    Layout = "~/Views/Shared/_StoresLayout.cshtml";
}

<div>
    <!-- Breadcrumb -->
    <h2 style="float:left;">Manage Stores</h2>
    <span style="float:right;">@Html.ActionLink("Help", "ManageStores", "Help", null, new { target="_blank" })</span>
</div>

<div style="clear:both;"></div>

@if (ViewBag.Permissions.Contains("AddStore"))
{
<div class="topLink">
    <a href="@Url.Action("Add")">Add a new store</a>
</div>
}

<table class="listTable" id="stores">
    <thead>
        <tr>
            <th>Andromeda store name</th>
            <th>Andromeda site id</th>
            <th>Customer site id</th>
            <th>Chain</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
@foreach (AndroAdminDataAccess.Domain.StoreListItem store in Model)
{ 
    <tr>
        <td>@Html.ActionLink(store.Name, "StoreDetails", new { id = store.Id.ToString() })</td>
        <td>@store.AndromedaSiteId</td>
        <td>@store.CustomerSiteId</td>
        <td>@store.ChainName</td>
        <td>@store.StoreStatus</td>
    </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    $('#stores').dataTable(
        {
            "sScrollY": "500px",
            "bScrollCollapse": true,
            "bPaginate": false,
            "sPaginationType": "scrolling"
        }
     );
</script>