@{
    var workcontext = Html.GetWorkContext();
    var translator = Html.GetTranslator();
}

@helper CreateColorEditorRow(string label, string kendoBinding, string liveColor)
{
    var translator = Html.GetTranslator();
    <div class="row">
        <div class="col-xs-12 col-md-12">

            <label class="control-label col-md-4">
                @translator.T(label)
            </label>

            <div class="col-md-3">
                <input kendo-color-picker
                       ng-model="CustomThemeSettings.@kendoBinding"
                       style="width: 180px" />&nbsp;
                <span>{{CustomThemeSettings.@kendoBinding}}</span>
            </div>

            <div class="col-md-3">
                <div class="col-md-2 colourPreview" style="float:left;" ng-style="CreateStyle(CustomThemeSettings.@liveColor)">&nbsp;</div>
                &nbsp;<span style="margin-top:10px;" class="col-md-1">{{CustomThemeSettings.@liveColor}}</span>
            </div>

        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-3"><label>Selected colour</label></div>
        @*<div class="col-md-3"><label>Selected colour</label></div>*@
        <div class="col-md-3"><label>Current colour</label> </div>
    </div>
</div>
<div class="row">
    <style scoped="scoped">
        .colourPreview {
            border: 1px solid #000;
            border-radius: 4px;
            height: 40px;
            width: 40px;
        }
    </style>
    @CreateColorEditorRow("Button / Menu Category / Menu Item Header Background Colour", "ColourRange1", "LiveColourRange1")
    @CreateColorEditorRow("Selected Menu Category Background Colour", "ColourRange2", "LiveColourRange2")
    @CreateColorEditorRow("Button / Menu Category / Menu Item Header Text Colour", "ColourRange3", "LiveColourRange3")
    @CreateColorEditorRow("Header Menu Background Colour", "ColourRange4", "LiveColourRange4")
    @CreateColorEditorRow("Header Menu Text Colour", "ColourRange5", "LiveColourRange5")
    @CreateColorEditorRow("Selected Header Menu Item Text Colour", "ColourRange6", "LiveColourRange6")
</div>

<div class="row">
    <div class="col-xs-12">
        <button type="button" class="k-button k-primary" ng-click="SaveChanges()">Save</button>
        <button type="button" class="k-button k-primary" ng-click="ResetColors()">Reset</button>
    </div>
</div>