@model MyAndromeda.Web.Models.Account.ChangePasswordModel
@{
    var translator = Html.GetTranslator();
}

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <div class="panel-title">
                    @translator.T("Change Password")
                </div>
            </div>
            <div class="panel-body" id="reset-password">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="editor-label">
                                @Html.LabelFor(m => m.NewPassword, translator.T("New Password"))
                            </div>
                            <div class="editor-field">
                                <input type="password"
                                       class="k-textbox"
                                       name="@Html.NameFor(e=> e.NewPassword)" id="@Html.IdFor(e=> e.NewPassword)" value="@Model.NewPassword"
                                       pattern=".{7,}"
                                       required="required" />

                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="editor-label">
                                @Html.LabelFor(m => m.ConfirmPassword, translator.T("Confirm Password"))
                            </div>
                            <div class="editor-field">
                                <input class="k-textbox"
                                       type="password"
                                       required="required"
                                       name="@Html.NameFor(e=> e.ConfirmPassword)"
                                       value="@Model.ConfirmPassword" />

                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="editor-label">
                                <label>@translator.T("Password strength")</label>
                            </div>
                            <div class="editor-field">
                                <div id="passStrength" style="width: 218px; margin-bottom:9px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="btn btn-primary" type="submit" name="Save" value="@translator.T("Save")" />
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>

</div>

@using (Html.BeginScripts())
{
    Html.RequireScript("~/Scripts/app/Validation/PasswordStrength.js", Area.Foot);
    if (false)
    {
        <script src="~/Scripts/app/Validation/PasswordStrength.js"></script>
        <script src="~/lib/myandromeda/MyAndromeda.App.All.js"></script>
    }

    <script type="text/javascript">
        $(function () {
            var m = MyAndromeda.Validation.PasswordValidator;

            m.BannedPasswordMessage = "@translator.T("Banned or invalid password")";
            m.EmptyMessage = "@translator.T("Empty")";
            m.WeakMessage = "@translator.T("Weak")";
            m.GoodMessage = "@translator.T("Good")";
            m.StrongMessage = "@translator.T("Strong")";

            var passwordStrength = new MyAndromeda.Validation.PasswordValidator({
                InputElement: "#@Html.IdFor(e=> e.NewPassword)",
                ProgressElement: "#passStrength"
            });
        });
        $(function () {
            $("#reset-password").kendoValidator({
                rules: {
                    verifyPasswords: function (input) {
                        var ret = true;
                            //elementA = '@Html.NameFor(e => e.ConfirmPassword)',
                            //elementB = '@Html.IdFor(e => e.NewPassword)';


                        if (input.is("[name=@Html.NameFor(e=> e.ConfirmPassword)]")) {
                            var a = input.val();
                            var b = $("#@Html.IdFor(e=> e.NewPassword)").val();
                                         
                            ret = a === b;
                            //MyAndromeda.Logger.Notify("a == b? a= " + a + "; b = "+ b);
                        }

                        MyAndromeda.Logger.Notify("Password match: " + ret);

                        return ret;
                    }
                },
                messages: {
                    pattern: "@translator.T("Enter a password of at least {0} characters long", 7)",
                    verifyPasswords: "@translator.T("Passwords do not match!")"
                }
            });
        });
    </script>
}
