@model MVCAndromeda.Models.Owner

@using MVCAndromeda.Models;
@using MVCAndromeda.Controllers;
@{
    ViewBag.Title = "All store activity data for " + Model.Name;

    var route2 = Url.Action("Index", "StoreData", new
    {
        term = ViewBag.term,
        unitsAgo = ViewBag.unitsAgo,
        Time = ViewBag.Time,
        orderHow = ViewBag.orderHow,
        orderWhat = ViewBag.orderWhat,
        chosenCountry = "'country'"
    });
}
@(Html.Kendo().MobileView()
        .Name("navbar-home")
        .Title(Model.Name)
        .Header(obj =>
            Html.Kendo().MobileNavBar()
                .Content(navbar => @<text>
                    @navbar.ViewTitle("")
                    @(Html.Kendo().MobileButton().HtmlAttributes(new Dictionary<string, object>() { { "data-show-spinner", true } })
                                    .Align(MobileButtonAlign.Right)
                                    .Text("Log Off")
                                    .Url(Url.Action("LogOff", "Account", new { i = 0 }))
                    ) 
                    </text>
                )
        )
        .Content(@<text>
        
@Html.Partial("MenuButtonGroup")


<ul data-role="listview" data-style="inset" data-type="group">
    <li>@ViewBag.TimeDesc
    @if (Model.Countries.Count > 1)
    {   
        <ul>
            <li>
                @(Html.Kendo()
                .DropDownList()
                .Name("SelectCountry")
                .Events(e => e.Select("SelectCountry"))
                .BindTo(ViewBag.chosenCountry)
                )
            </li>
        </ul>
     
        <script type="text/javascript">

        function SelectCountry(e) {
            var dataItem = this.dataItem(e.item.index());
            var url = "@Html.Raw(route2)";
            var redirectTo = url.replace("%27country%27", dataItem.Value); //kendo.format(url, dataItem.Value);
            //showSpinner($(this));
            document.location.href = redirectTo;
        }
        </script>
    }
    else
    {   
        <ul><li>@ViewBag.country</li></ul>  
    }
    </li>
</ul>
    

@ListHeaderHelper(this)
@ListViewHelper(this)



</text>

)
)
@helper ListViewHelper(WebViewPage page)
{ 
    int numOfstoreMeasure = 2;// how many data columns to show in the table
    string country = ViewBag.country;
 
    @(Html.Kendo().MobileListView().Style("inset")
                    .Items(items =>
                    {

                        foreach (string storeName in Model.CountriesAndStores[country])
                        {
                            items.AddLink().Content(
                                          @<text>
    <table style="width:90%">
        <colgroup>
            <col style="width:50%;" />
            <col style="width:20%;"/>
            <col style="width:20%;"/>
        </colgroup>
        <tr>
            <td>@storeName</td>
            @{
                var min = 0.0;
                var max = 0.0;    
            }
            @for (int i = 0; i < numOfstoreMeasure; i++)
            {
                double? data = CubeAdapter.Scale(Model.Stores[storeName], i)[0];
                if (data == null)
                {                    
                <td class="row2">@StoreDataController.noRecord </td>
                }
                else
                {
                    string num;
                    max = max > data.GetValueOrDefault() ? max : data.GetValueOrDefault();
                    min = min < data.GetValueOrDefault() ? min : data.GetValueOrDefault();
                    if (CubeAdapter.storeMeasureFormat[i] == "C")
                    {

                        num = ((double)data).ToString(CubeAdapter.storeMeasureFormat[i], new System.Globalization.CultureInfo(CultureName.getName(country)));
                    }
                    else
                    {
                        num = ((int)data).ToString(CubeAdapter.storeMeasureFormat[i],
                            new System.Globalization.CultureInfo(CultureName.getName(country)));
                    }
                            
                <td class="row2">
                    @*@(Html.Kendo().Sparkline().Name("range"+data).Type(SparklineType.Bullet).Data(num).ValueAxis(axis => axis.Numeric().Min(min).Max(max)))*@
                    @num
                </td>
                }
            }
        </tr>
    </table>

@*    @(Html.Kendo().MobileDetailButton()
        .Style(MobileDetailButtonStyle.Detaildisclose)
        .Url(Url.Action("Individual", new
        {
            storeName = @storeName,
            country = @country,
            term = ViewBag.term,
            unitsAgo = ViewBag.unitsAgo,
            Time = ViewBag.Time,
            orderHow = ViewBag.orderHow,
            orderWhat = ViewBag.orderWhat
        })))*@
    </text>).Url(Url.Action("Individual", new
         {
             storeName = @storeName,
             country = @country,
             term = ViewBag.term,
             unitsAgo = ViewBag.unitsAgo,
             Time = ViewBag.Time,
             orderHow = ViewBag.orderHow,
             orderWhat = ViewBag.orderWhat
         }))
                                    .HtmlAttributes(new Dictionary<string, object>() { { "data-show-spinner", true } });
                        }

                    })
            )
}

@helper ListHeaderHelper(WebViewPage page)
{ 
    int numOfstoreMeasure = 2;// how many data columns to show in the table
    string country = ViewBag.country;
    string[] tableOrderTags = new string[numOfstoreMeasure + 1];
    string orderTag = ViewBag.orderHow == 1 ? "▲" : "▼";
    tableOrderTags[ViewBag.orderWhat] = orderTag;
  
 
    @(Html.Kendo().MobileListView().Style("inset").HtmlAttributes(new { style = "overflow:auto" })
                    .Items(items =>
                    {

                        items.AddLink().Content(@<text>
    <table class="list" style="width:80%">
        <colgroup>
            <col style="width:50%;" />
            <col style="width:20%;"/>
            <col style="width:20%;"/>
        </colgroup>
        <tr>
            @{
                <th class="list" style="white-space: nowrap" ><a  href='@Url.Action("Index",
                                    new
                                    {
                                        chosenCountry = @country,
                                        term = ViewBag.term,
                                        unitsAgo = ViewBag.unitsAgo,
                                        Time = ViewBag.Time,
                                        orderHow = ViewBag.orderWhat == 0 ? -ViewBag.orderHow : 1,
                                        orderWhat = 0
                                    })'>Store @tableOrderTags[0]</a></th>


                for (int i = 0; i < numOfstoreMeasure; i++)
                {            
                <th class="list row2"><a  href='@Url.Action("Index",
                                    new
                                    {
                                        chosenCountry = @country,
                                        term = ViewBag.term,
                                        unitsAgo = ViewBag.unitsAgo,
                                        Time = ViewBag.Time,
                                        orderHow = ViewBag.orderWhat == i + 1 ? -ViewBag.orderHow : 1,
                                        orderWhat = i + 1
                                    })'>
                    @Store.storeMeasureNames[i] @tableOrderTags[i + 1]</a></th>            
                      
                }
            }
        </tr>
    </table>
    @Html.Kendo().MobileDetailButton().Icon("globe")

    </text>).HtmlAttributes(new Dictionary<string, object>() { { "data-show-spinner", true } });


                    })
            )
}



<style>
    .row2 {
        padding-left:10px;
        white-space:nowrap;
       /* width:10em;*/
    }
    table.list {
        border-collapse: separate;
        border-spacing: 0;
        margin-top: 0.0em;
        border: none;
    }

    th.list {
        font-size: 1em;
        text-align: left;
        border: none 0px;
        padding: 5px;
        /*width: 33%;*/
    }

    td.list {
        
        text-align: left;
    }

    th.list a {
        display: block;
        position: relative;
        font-weight: bold;
    }

        th.list a:link, th.list a:visited, th.list a:active, th.list a:hover {
            color: #333;
            text-decoration: none;
            cursor: pointer;
            font-weight: bold;
        }
        th.list a:hover {
        background-color: #D8D8D8;
        border-radius: 4px;
        }



</style>
