@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
    //culture = "en-US";
    var workContext = Html.GetWorkContext();
    var settings = Html.GetApplicationSettings();

    culture = workContext.LocalizationContext.CurrentUiCulture;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyAndromeda</title>

    @Html.PageScriptFiles(Area.Head)

    <link href="~/Content/myAndromeda/site.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Kite+One" rel="stylesheet" type="text/css">
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />


    @*<link href="@Url.Content("~/Content/kendo/2015.3.1111/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
    @* kendo angular is now in all *@

    <script src="~/Scripts/kendo/2016.1.112/jquery.min.js"></script>

    <script src="~/lib/autofill/autofill-event.js"></script>
    <script src="~/Scripts/linq.js"></script>
    <script src="~/Scripts/rx.lite.js"></script>
    <script src="~/Scripts/rx.aggregates.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-sweetalert.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    @Html.PageHeadScripts()

    <link href="~/Content/kendo/2016.1.112/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.1.112/kendo.common-bootstrap.core.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.1.112/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.1.112/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/2016.1.112/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/2016.1.112/kendo.dataviz.bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/kendo/2016.1.112/jszip.min.js"></script>
    <script src="~/Scripts/kendo/2016.1.112/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2016.1.112/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo/2016.1.112/kendo.timezones.min.js"></script>
    <script src="~/Scripts/kendo/2016.1.112/cultures/@(string.Format("kendo.culture.{0}.min.js", culture))"></script>

    <script src="~/Scripts/kendoExtensions/kendoExtensions.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/lib/myandromeda/MyAndromeda.App.All.js"></script>
    <script>
        kendo.culture("@culture");
    </script>

</head>
<body>
    @if (workContext.CurrentUser.Available)
    {
        @Html.Partial("_HelpSections");
    }
    <!--Header Starts-->
    <div id="header">
        <div class="container" style="margin-bottom: 0; padding-bottom: 4px">
            <div class="row">

                @Html.Partial("_Header")

                @Html.Partial("_LogOnPartial")

            </div>

            <div class="row">
                @if (workContext.CurrentUser.Available)
                {
                    <nav class="col-xs-12">
                        @Html.Action("MainMenu", "Menu", new { Area = "" })
                    </nav>
                }
            </div>
        </div>
    </div>
    <!-- end header-inner -->
    <div class="container">
        @Html.Partial("_NotificationsTemplate")
        <section id="main">
            @RenderBody()
        </section>
        <div style="clear:both"></div>
    </div>
    @Html.Partial("_Footer")
    @Html.Partial("_KendoValidator")
    @Html.PageScriptFiles(Area.Foot)
    @RenderSection("scripts", required: false)

    @Html.PageFooterScripts()


</body>
</html>
