@model MVCAndromeda.Models.Owner
@using MVCAndromeda.Models;
@using MVCAndromeda.Controllers;
@{
    ViewBag.Title = "All store activity data for " + Model.Name;
    int numOfStoreData = 2;// how many data columns to show in the table
}

<header>
    <div class="content-wrapper" style="background-color: lightblue">
        <div class="menu2">
            @for (int i = 0; i < DateUtilities.averagingPeriod.Length / 2; i++)//loop over averaging span: day, weeks etc
            {
                for (int j = 0; j < StoreDataController.timeGrid.GetLength(1); j++) //loop over present  and past times
                {
                    string time = StoreDataController.timeGrid[i, j];
                    if (ViewBag.Time == time)  // then this option is chosen, so do not make a link
                    {
                        //just text, no link
                <div class="rssbuttonvisited">
                    @StoreDataController.shortTimeGrid[i, j]
                </div>                 
                    }
                    else
                    {//make a link as usual
                <div class="rssbutton">
                    @Html.ActionLink(@StoreDataController.shortTimeGrid[i, j], "Index", new
               {
                   chosenCountry = ViewBag.country,
                   term = DateUtilities.averagingPeriod[i],
                   unitsAgo = j,
                   Time = time,
                   orderHow = ViewBag.orderHow,
                   orderWhat = ViewBag.orderWhat
               })
                </div>                   
                    }
                }
            }
        </div>
        <div class="menu2">

            @for (int i = DateUtilities.averagingPeriod.Length / 2; i < DateUtilities.averagingPeriod.Length; i++)//loop over averaging span: day, weeks etc
            {
                for (int j = 0; j < StoreDataController.timeGrid.GetLength(1); j++) //loop over present  and past times
                {
                    string time = StoreDataController.timeGrid[i, j];
                    if (ViewBag.Time == time)  // then this option is chosen, so do not make a link
                    {
                        //just text, no link
                <div class="rssbuttonvisited">
                    @StoreDataController.shortTimeGrid[i, j]
                </div>
                    
                    }
                    else
                    {//make a link as usual
                   
                <div class="rssbutton">
                    @Html.ActionLink(@StoreDataController.shortTimeGrid[i, j], "Index", new
               {
                   chosenCountry = ViewBag.country,
                   term = DateUtilities.averagingPeriod[i],
                   unitsAgo = j,
                   Time = time,
                   orderHow = ViewBag.orderHow,
                   orderWhat = ViewBag.orderWhat
               })
                </div>                         
                    }
                }
            }
        </div>
        <div style="clear: both"></div>
    </div>
</header>

<h4>@ViewBag.TimeDesc</h4>

<!--shows chosen period-->

@if (Model.Countries.Count > 1)
{

    using (Html.BeginForm("Index", "StoreData", new { term = ViewBag.term, unitsAgo = ViewBag.unitsAgo, 
        Time = ViewBag.Time, orderHow = ViewBag.orderHow, orderWhat = ViewBag.orderWhat }))
    {
    <h3>@Html.DropDownList("chosenCountry")

        <input type="submit" value="Go" />
    </h3>
    }
   
    
}
else
{     
    <h3>@ViewBag.country</h3>
}

@{string country = ViewBag.country;}
@{
    <div style="overflow: auto; padding-right: 10px; margin: 0; padding: 0">
        <table class="list">
            <tr>
                @{
                    string aclass = ViewBag.orderHow == 1 ? "list asc" : "list desc";
                    if (ViewBag.orderWhat == 0)
                    {
                    <th class="@aclass"><a  href='@Url.Action("Index",
                                    new { chosenCountry = @country, term = ViewBag.term, unitsAgo = ViewBag.unitsAgo, Time = ViewBag.Time, orderHow = -ViewBag.orderHow, orderWhat = 0 })'>Store</a></th>
                    }
                    else
                    { 
                    <th class="list"><a  href='@Url.Action("Index",
                                    new { chosenCountry = @country, term = ViewBag.term, unitsAgo = ViewBag.unitsAgo, Time = ViewBag.Time, orderHow = 1, orderWhat = 0 })'>Store</a></th>
                    }

                    for (int i = 0; i < numOfStoreData; i++)
                    {
                        if (ViewBag.orderWhat == i + 1)
                        {
                    <th class="@aclass"><a  href='@Url.Action("Index",
                                    new { chosenCountry = @country, term = ViewBag.term, unitsAgo = ViewBag.unitsAgo, Time = ViewBag.Time, orderHow = -ViewBag.orderHow, orderWhat = i + 1 })'>
                        @Store.storeDataNames[i]</a></th>
                        }
                        else
                        {
                    <th class="list"><a  href='@Url.Action("Index",
                                    new { chosenCountry = @country, term = ViewBag.term, unitsAgo = ViewBag.unitsAgo, Time = ViewBag.Time, orderHow = 1, orderWhat = i + 1 })'>
                        @Store.storeDataNames[i]</a></th>
                        }
                    }
                }
            </tr>
        </table>
    </div>
    
    // height of the scrollable box up to 10 rows or so
    int numOfLines = 10;
    int heightInLines = 2 * numOfLines;
    string hinl = heightInLines.ToString() + "em";
    string sty = "";

    if (Model.CountriesAndStores[country].Count < numOfLines)
    {
        sty = "height:auto ;margin: 0; padding: 0; border:none";
    }
    else
    {
        sty = "height: " + hinl + "; overflow: auto; margin: 0; padding: 0; border: solid; border-width:1px";
    }
   
    <div style="@sty">

        <table class="list">
            @foreach (string storeName in Model.CountriesAndStores[country])
            { 
                <tr class="list">
                    <td class="list">
                        <div class="cssbutton wait-button">
                            @Html.ActionLink(@storeName, "Individual", new
                       {
                           storeName = @storeName,
                           country = @country,
                           term = ViewBag.term,
                           unitsAgo = ViewBag.unitsAgo,
                           Time = ViewBag.Time,
                           orderHow = ViewBag.orderHow,
                           orderWhat = ViewBag.orderWhat
                       })
                        </div>
                    </td>
                    @for (int i = 0; i < numOfStoreData; i++)
                    {
                        double? data = CubeAdapter.Scale(Model.Stores[storeName], i)[0];
                        string styl = i == 0 ? "white-space: nowrap" : "white-space: nowrap; background-color:azure";
                        if (data == null)
                        {                    
                        <td class="list"style="@styl">NR </td>
                        }
                        else
                        {
                            string num;
                            if (CubeAdapter.storeDataFormat[i] == "C")
                            {
                                num = ((double)data).ToString(CubeAdapter.storeDataFormat[i], 
                                    new System.Globalization.CultureInfo(CultureName.getName(country)));
                            }
                            else
                            {
                                num = ((int)data).ToString(CubeAdapter.storeDataFormat[i],
                                    new System.Globalization.CultureInfo(CultureName.getName(country)));
                            }
                            
                        <td class="list" style="@styl">
                            @num
                        </td>
                        }
                    }
                </tr>
            }
        </table>
    </div>
}
