@model MyAndromeda.Web.Models.Emails.NewUserEmail
@{
    var translator = Html.GetTranslator();    
}

@section Header 
{
To: @Model.UserName
From: Support@MyAndromeda.com
Subject: @translator.T("MyAndromeda account has been created")
}

<p>
    @translator.T("Your MyAndromeda account has been created and you can log in.")
</p>
<p>
    @translator.T("Please click the following link to login:") 
    <a href="@Url.Action("Index", "Home", new { }, "http")">@translator.T("Login")</a>
</p>
