<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo.dataviz.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo.dataviz.silver.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")"></script>

    <script src="@Url.Content("~/Scripts/console.min.js")"></script>
    <script src="@Url.Content("~/Scripts/prettify.min.js")"></script>

    

    @RenderSection("HeadContent", false)
</head>
<body>
    <div id="loading" style="width: 100%; display: none; position: fixed; top: 50%; z-index: 1000;">
        <img src="~/Content/AjaxLoader.gif" width="96" height="96" alt="Please wait" style="margin: 0 auto; display: block" />
    </div>

    @using System.Text.RegularExpressions;


    @{ 
        var isMobileDevice = Regex.IsMatch(Request.UserAgent, "(blackberry|bb1\\w?;|playbook|meego;\\s*nokia|android|silk|iphone|ipad|ipod|windows phone|Mobile.*Firefox)", RegexOptions.IgnoreCase);
        isMobileDevice = true;
    }

    @{ 
        Html.Kendo().MobileLayout()
        .Name("myAndromeda")
        .Header(() =>
        {
            Html.Kendo().MobileNavBar().Name("navbar")
                .Content(navbar =>
                @<text>
                    @navbar.ViewTitle("Index")
                </text>)
                .Render();
        })
        .Render();
    }

    @RenderBody()

    <script type="text/javascript">
        var app = new kendo.mobile.Application(document.body, {
            "hideAddressBar": true,
            "updateDocumentTitle": true,
            "serverNavigation": true,
            "layout": "myAndromeda"
        });
        $("body").data("app", app);

        jQuery(function () {
            var showSpinner = function (element, show) {
                show || (show = $(element).data("showSpinner"));
                if (show) {
                    //$("#loading").fadeIn(2000);
                    //var app = $("body").data("app");
                    app.showLoading();
                }


            };
            jQuery("input[type=submit]").click(function () {
                var button = $(this);
                showSpinner(button, true);
            });
            jQuery("a").click(function (e) {
                //var button = $(this);
                showSpinner(true);
            });
            jQuery("ul").on("click", "li", function (e) {
                //e.preventDefault()
                var button = $(this);
                showSpinner(button);

            });
        });

    </script>
</body>
   
</html>
