@model MyAndromeda.Web.Areas.Authorization.ViewModels.UpdatePermissisonsViewModel
@{
    var groups = this.Model.PossiblePermissions.GroupBy(e => e.Category);

    Func<MyAndromeda.Core.Authorization.IPermission, bool> selected = (permission) =>
    {
        bool userGranted = Model.SelectedPermissions.Any(id => id == permission.Id);
        if (userGranted) { return true; }

        bool sterotype = Model.EffectivePermissions.Any(e => e.Category == permission.Category && e.Name == permission.Name);
        return sterotype;
    };
    Func<MyAndromeda.Core.Authorization.IPermission, bool> disabled = (permission) =>
    {
        bool sterotype = Model.EffectivePermissions.Any(e => e.Category == permission.Category && e.Name == permission.Name);
        return sterotype;
    };
}



@using (Html.BeginForm())
{
    <div class="k-widget" style="padding: 1em;">

        <div class="header">
            <h3>Edit Enrollment Permissions for @Model.Name</h3>
            <a class="k-button" href="@Url.Action("Levels", "UserRoleAuthorization")">Back</a>
            <button class="k-button" type="submit" name="Save" value="Save">Save</button>
        </div>

        @foreach (var group in groups.OrderBy(e => e.Key))
        {
            <div class="group">
                <div class="clearfix">
                    @*                    <div class="header">
                            <h3>@group.Key</h3>
                        </div>*@

                    <div class="table-wrapper">
                        @(Html.Kendo().Grid(group.OrderBy(e => e.Name))
                .Name(group.Key.Replace(" ", "-") + "permissions")
                .ToolBar(tools => tools.Template(@<text><p style="font-weight:bolder"> @group.Key</p></text>))
                .Columns(cols =>
                {
                    cols.Template(@<text>
                        <input type="checkbox" value="@item.Id" name="@Html.NameFor(e => e.SelectedPermissions)"
                        @if (selected(item)) { <text>checked="checked"</text> }
                        @if (disabled(item)) { <text>disabled="disabled" </text> }
                               />
                    </text>).HeaderTemplate(@<text>
                            <label>
                                <input class="selectAll" type="checkbox" />
                                Select All
                            </label>
                    </text>).Width(100);
                    cols.Bound(e => e.Name).Width(250);
                    cols.Bound(e => e.Description);
                }))
                    </div>
                </div>
            </div>
        }

        <input class="k-button" type="submit" name="Save" value="Save" />
    </div>
}


@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(function () {
            $(".table-wrapper").on("change", ".selectAll", function (e) {
                var checkbox = $(this);
                var gridWrapper = checkbox.closest(".table-wrapper");
                var checkBoxes = gridWrapper.find("table tbody input[type=checkbox]:enabled");
                
                checkBoxes.prop('checked', checkbox.prop('checked'));
            });

            $(".table").kendoGrid();
        });
    </script>
}