@using MyAndromeda.Web.ViewModels;
@{
    var cultures = System.Globalization.CultureInfo.GetCultures(System.Globalization.CultureTypes.AllCultures);
    var models = cultures.Select(e => new
    {
        Name = System.Globalization.CultureInfo.CreateSpecificCulture(e.Name).Name,
        e.EnglishName
    }).OrderBy(e => e.Name);
}
@model ChainUpdateCultureViewModel

<div class="row">
    <div class="col-sm-4">
        @using (Html.BeginForm())
        {
            <div id="ChainForm" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Culture settings: @Model.Chain.Name </div>
                </div>
                <div class="panel-body">


                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(e => e.ReturnUrl)

                    <div>
                        <label for="@Html.IdFor(e => e.Chain.Culture)"></label>
                        <input id="@Html.IdFor(e => e.Chain.Culture)" name="@Html.NameFor(e => e.Chain.Culture)"
                               style="width:300px"
                               data-role="combobox"
                               @*data-header-template="#cultureValueTemplate"*@
                               data-template="cultureValueTemplate"
                               data-text-field="englishName"
                               data-value-field="name"
                               data-filter="contains"
                               data-bind="source: data, value: culture" />
                    </div>
                </div>
                <div class="panel-footer">
                    <input class="btn btn-primary" type="submit" value="Save" />
                </div>
            </div>
        }
    </div>

</div>


@using (Html.BeginScripts())
{
    <script type="text/x-kendo-template" id="cultureValueTemplate">
        (#: name #) #: englishName #
    </script>
}

@using (Html.BeginScripts())
{
    <script>
        $(function () {
            var data = @models.JsonNetToString(true, false);

            var vm = kendo.observable({
                culture: '@Model.Chain.Culture',
                data: data
            });
            kendo.bind($("#ChainForm"), vm);
        });
    </script>
}