@model MyAndromeda.Web.Areas.Authorization.ViewModels.UpdatePermissisonsViewModel
@{
    var groups = this.Model.PossiblePermissions.GroupBy(e => e.Category);

    Func<MyAndromeda.Core.Authorization.IPermission, bool> selected = (permission) =>
    {
        bool userGranted = Model.SelectedPermissions.Any(id => id == permission.Id);
        if (userGranted) { return true; }

        bool sterotype = Model.EffectivePermissions.Any(e => e.Category == permission.Category && e.Name == permission.Name);
        return sterotype;
    };
    Func<MyAndromeda.Core.Authorization.IPermission, bool> disabled = (permission) =>
    {
        bool sterotype = Model.EffectivePermissions.Any(e => e.Category == permission.Category && e.Name == permission.Name);
        return sterotype;
    };
}

@using (Html.BeginForm()) { 
    <div class="header">
        <h3>Edit Enrollment Permissions for @Model.Name</h3>
        <a class="k-button" href="@Url.Action("Levels", "UserRoleAuthorization")">Back</a>
        <button class="k-button" type="submit" name="Save" value="Save">Save</button>
    </div>

    foreach(var group in groups)
    {
        <div class="header">
            <h4>@group.Key</h4>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label><input class="selectAll" type="checkbox" /> Select All</label>
                        </th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in group.OrderBy(e=> e.Name)) {
                        <tr>
                            <td>
                                <input type="checkbox" value="@item.Id" name="@Html.NameFor(e=> e.SelectedPermissions)"
                                       @if (selected(item)) { <text> checked="checked" </text>  }
                                       @if (disabled(item)) { <text> disabled="disabled" </text>  } />
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    
    <input class="k-button" type="submit" name="Save" value="Save" />
}

@using (Html.BeginScripts())
{ 
    <script type="text/javascript">
        $(function () {
            $(".table-wrapper").on("change", ".selectAll", function (e) {
                var checkbox = $(this);
                var gridWrapper = checkbox.closest(".table-wrapper");
                var checkBoxes = gridWrapper.find("table.table tbody input[type=checkbox]:enabled");
                checkBoxes.prop('checked', checkbox.prop('checked'));
            });

            $(".table").kendoGrid();
        });
    </script>
}