@using MyAndromeda.Web.Areas.Marketing.ViewModels;
@using MyAndromedaDataAccess.Domain.Marketing;

@model ListEmailCampaignsViewModel
@{
    ViewBag.Title = "Email Campaigns";
}

<div class="header">
    <a class="k-button" href="@Url.Action("Index", "CustomerList")">Customer List</a>
    <h3>Email Campaigns</h3>
    <h4 class="subtitle-block">@Model.CurrentSite.Site.ClientSiteName</h4>
</div>

@if (Model.Campaigns.Count() == 0)
{
    <div class="clearfix">
        <div class="sb-right content1">
            <div class="header">
                <h3>Create a campaign</h3>
            </div>
            <p>There are no campaigns for <i>@(Model.CurrentSite.Site.ClientSiteName)</i>. To start off create a campaign.</p>
            <p>
            <a class="k-button" href="@Url.Action("Create", "Email", new { Area = "Marketing" })">Start a campaign</a></p>
        </div>
    </div>
}
@if (Model.Campaigns.Count() > 0)
{
    var previewLink = Url.Action("Preview");
    var launchLink = Url.Action("Launch");
    var previewTemplate = string.Format("<a class='k-button' href='{0}/#=Id#'>Preview</a>", previewLink);
    var launchTemplate = string.Format("<a class='k-button' href='{0}/#=Id#'>Launch</a>", launchLink);
    
    @(Html.Kendo()
    .Grid(Model.Campaigns)
    .Name("EmailCampaigns")
    .ToolBar(tools => tools.Template(@<text>
        <a class="k-button" href="@Url.Action("Create", "Email", new { Area = "Marketing" })" title="Draft/start a new campaign">Create campaign</a>
        <a class="k-button" href="@Url.Action("Index", "EmailTasks", new { Area = "Marketing" })" title="Show me the recent history">History</a>
    </text>))
    .Sortable()
    .Filterable()
    .Pageable()
    .Scrollable(c => c.Height(400))
    .Columns(cols =>
    {
        cols.Bound(e => e.Reference)
            .Template(@<text>
                <div>@item.Reference</div>
                <a class="k-button" href="@Url.Action("Preview", new { id = item.Id })" title="Send a preview of the campaign to yourself first">Preview campaign</a>
                <a class="k-button" href="@Url.Action("Launch", new { id = item.Id })" title="Launch">Launch campaign</a>
            </text>)
            .ClientTemplate("<p>#=Reference# <br/>" + previewTemplate + launchTemplate + "</p>");
        cols.Bound(e => e.Created).Width(150);
        cols.Bound(e => e.Modified).Width(150);
        cols.Template(@<text>
        <a class="k-button" href="@Url.Action("Edit", new { id = item.Id })">Edit</a>
        <a class="k-button k-button-delete-me" href="@Url.Action("Destroy", new { id = item.Id })">Delete</a>
    </text>).Title("Actions").Width(170);
    @*
        cols.Template(@<text>
    <a class="k-button" href="@Url.Action("Preview", new { id = item.Id })" title="Send a preview of the campaign to yourself first">Preview</a>
    <a class="k-button" href="@Url.Action("Launch", new { id = item.Id })" title="Launch">Launch</a>
    </text>).ClientTemplate().Width(100);*@
    }).DataSource(e =>
    {
        //e.Ajax().ServerOperation(false);
    }))

}

@using (Html.BeginScripts())
{ 
    <script type="text/javascript">
        $(function () {
            $("#EmailCampaigns").on("click", ".k-button-delete-me", function (e) {
                var abandon = !confirm("Are you sure you want to remove this item?");
                if (abandon) {
                    e.preventDefault();
                }
            });
        });
    </script>
}

@using (Html.BeginHelpSection("", TabArea.Help, true))
{
    <div class="header">
        <h3>Starting Out</h3>
    </div>    

}