@using MyAndromeda.Authorization
@model MyAndromeda.Web.ViewModels.ChainListViewModel

@{
    var translator = Html.GetTranslator();
}

<div id="StartApp">
    <div ui-view></div>
</div>


@*@(Html.Kendo().TabStrip()
        .Name("FindChain")
        .Items(items => {
            items.Add().Text("Tree view")
                .Selected(false)
                .Enabled(false)
                .Content(@<text>@Html.Partial("ChainTreeView", Model)</text>);
            items.Add().Text("List view")
                .Selected(true)
                .Content(@<text>
                    @Html.Partial("GridTreeView")
                </text>);
        })
    )*@

@*@Html.Partial("GridTreeView")*@

@*@Html.Partial("Help")*@

@using (Html.BeginScripts())
{
    if (false)
    {
        <script src="~/lib/myandromeda/MyAndromeda.App.All.js"></script>
    }
    <script type="text/template" id="chain-actions-template">
        <a class="k-button" href="/ChainReporting/{{dataItem.Id}}/Reports">
            <i class="fa fa-bar-chart-o"></i>
            Reports
        </a>
    </script>
    <script type="text/template" id="chain-template">

        <chain-grid chain="dataItem">
        </chain-grid>

    </script>
    <script>
        $(function () {
            MyAndromeda.Start.setupStart("StartApp");
        });
    </script>
}

<script type="text/ng-template" id="chain-list.html">
    <!-- List chains -->
    <div class="header">
        <h3>My Chains</h3>
    </div>

    <kendo-tree-list k-options="chainListOptions">

    </kendo-tree-list>
</script>

<script type="text/template" id="store-list-template">
    @*<div>
        {{dataItem.Name}}
    </div>*@
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Admin
                    </div>
                    <div class="panel-body">
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="/OrderManagement/Chain/{{chain.Id}}/{{dataItem.ExternalSiteId}}/Orders">
                                @translator.T("Orders")
                            </a>
                            <a class="btn btn-default btn-sm" href="/AndroWebOrdering/Chain/{{chain.Id}}/{{dataItem.ExternalSiteId}}/AndroWebOrdering/List">
                                @translator.T("Websites")
                            </a>
                            <a class="btn btn-default btn-sm" ui-sref="hr.store-list.employee-list({ chainId : chain.Id, andromedaSiteId: dataItem.AndromedaSiteId})">
                                @translator.T("Employees")
                            </a>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        Store
                    </div>
                    <div class="panel-body">
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="/Chain/{{chain.Id}}/Store/{{dataItem.ExternalSiteId}}">
                                @translator.T("Detail")
                            </a>

                            <a class="btn btn-default btn-sm" href="/Menus/Chain/{{chain.Id}}/{{dataItem.ExternalSiteId}}/MenuNavigation">
                                @translator.T("Menu")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">Reporting</div>
                    <div class="panel-body">
                        <div class="btn-group">

                            <a class="btn btn-default btn-sm" href="/Reporting/Chain/{{chain.Id}}/{{dataItem.ExternalSiteId}}/Store">
                                @translator.T("Web")
                            </a>

                            <a ng-if="dataItem.HasRameses"
                               class="btn btn-default btn-sm" href="/Reporting/Chain/{{chain.Id}}/{{dataItem.ExternalSiteId}}/DailyReporting">
                                @translator.T("Rameses")
                            </a>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="store-list.html">

    <span class="btn-group" ng-if="status.hasStores">
        <a class="btn btn-info btn-xs" ng-if="!status.hideStores" ng-click="status.hideStores = true">{{chain.Name}} - stores <span class="badge">{{chain.StoreCountLabel()}}</span></a>
        <a class="btn btn-primary btn-xs" ng-if="status.hideStores" ng-click="status.hideStores = false">{{chain.Name}} - Stores <span class="badge">{{chain.StoreCountLabel()}}</span></a>
    </span>

    <span class="btn-group" ng-if="!status.hasStores">
        <a class="btn btn btn-xs">{{chain.Name}} - stores <span class="badge">{{chain.StoreCountLabel()}}</span></a>
    </span>

    <span style="white-space:normal">
        <span class="btn-group pull-right" ng-if="status.hasStores">
            <a class="btn btn-info btn-xs" href="/ChainReporting/{{chain.Id}}/Reports">Chain Reports</a>
            <a class="btn btn-danger btn-xs" href="/ChainReporting/{{chain.Id}}/Dashboard#/chain-sales-live">Beta Reports</a>
        </span>
    </span>

    <div ng-if="status.hasStores">
        <div ng-if="!status.hideStores" style="margin-top:1em;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Stores
                </div>
                <div class="panel-body">
                    <kendo-grid k-options="storeListOptions">
                    </kendo-grid>
                </div>
            </div>

        </div>
    </div>

</script>

@Html.Partial("~/areas/HumanResources/views/employee/index.cshtml")