@using AndroAdminDataAccess.Domain;

@model IEnumerable<HubItem>
@{
    ViewBag.Title = "Hubs";
    Layout = "~/Views/Shared/_WebOrderingLayout.cshtml";
}

<a href="@Url.Action("Create", "Hubs")">Create</a>
<a href="@Url.Action("Sync", "Hubs")">Sync</a>

<table id="HubsTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hub in Model) 
        { 
        <tr data-id="@hub.Id" class="@(hub.Active ? "active" : "disabled")">
            <td>@hub.Name</td>
            <td>@hub.Address</td>
            <td>@hub.Active</td>
            <td>
                <a class="k-button k-button-edit" href="@Url.Action("Edit", "hubs", new { id = hub.Id })">Edit</a>
                @if (hub.Active) { 
                    <a class="k-button k-button-disable" href="@Url.Action("Disable", "hubs", new { id = hub.Id })">Disable</a>
                }
                @if (!hub.Active) { 
                    <a class="k-button k-button-enable" href="@Url.Action("Enable", "hubs", new { id = hub.Id })">Enable</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $("#HubsTable").dataTable();

    $(function () {
        var table = $("#HubsTable");
        table.on("click", "a.k-button", function (e) {
            var button = $(this),
                confirmDisable = false,
                checkToDisable = button.is(".k-button-disable");

            if (checkToDisable) {
                confirmDisable = confirm("Are you sure you want to disable this hub?");
                if (!confirmDisable) {
                    e.preventDefault();
                }
            }
        });
    });
</script>