@model AndroAdmin.Model.ACSApplicationModel

@{
    ViewBag.Title = "Add application";
    Layout = "~/Views/Shared/_WebOrderingLayout.cshtml";
}

<div id="AddApplication">
    <h2>@Html.ActionLink("Partners", "Index", "Partner", new { }) / @Html.ActionLink(@Model.Partner.Name, "Details", new { id = @Model.Partner.Id.ToString() }) / Add Application</h2>

    @using (Html.BeginForm())
    { 
        <div>
            @Html.ValidationSummary(true) 
 
            @Html.HiddenFor(model => model.Partner.Id)

            <!-- Name -->
            <div class="editor-label">
                @Html.LabelFor(model => model.ACSApplication.Name):
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ACSApplication.Name) 
                @Html.ValidationMessageFor(model => model.ACSApplication.Name) 
            </div>

            <!-- External ID -->
            <div class="editor-label">
                @Html.LabelFor(model => model.ACSApplication.ExternalApplicationId):
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ACSApplication.ExternalApplicationId) 
                @Html.ValidationMessageFor(model => model.ACSApplication.ExternalApplicationId) 
            </div>
            <div class="formFieldHelp">
                We give this ID to a partner so the partner can access our web ordering services.
            </div> 

            <!-- External Name -->
            <div class="editor-label">
                @Html.LabelFor(model => model.ACSApplication.ExternalApplicationName):
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ACSApplication.ExternalApplicationName) 
                @Html.ValidationMessageFor(model => model.ACSApplication.ExternalApplicationName) 
            </div>
            <div class="formFieldHelp">
                This is visible to our customers e.g. displayed in Rameses
            </div>
        </div>
    
        <p class="editor-submitButton"> 
            <input type="submit" value="Add Application" />
            @Html.ActionLink("Cancel", "Details", new { id = Model.Partner.Id })
        </p>
    }
</div>