@model AndroAdmin.Model.PartnerModel

@{
    ViewBag.Title = "Partner";
    Layout = "~/Views/Shared/_WebOrderingLayout.cshtml";
}

<div id="PartnerView">
    <h2>@Html.ActionLink("Partners", "Index", "Partner", new { }) / @Model.Partner.Name</h2>

    <p>Before a partner application can access the ACS cloud services it must be registered in our system.  This creates a unique application ID which is a bit like a password.  We give the application id to the partner for use within their application.  The application must provide this id whenever it talks to the ACS cloud services.</p>

    @if (ViewBag.Edit == null || !ViewBag.Edit)
    {
        <h3 class="h3WithEditButton">Partner details</h3>
        if (ViewBag.Permissions.Contains("EditACSPartner"))
        {
        <div class="editButton">@Html.ActionLink("change", "Details", new { id = Model.Partner.Id, edit = true })</div>
        }
        
        <div>
            <!-- Name -->
            <div class="editor-label">
                @Html.LabelFor(model => model.Partner.Name):
            </div>
            <div class="editor-field">
                @Model.Partner.Name
            </div>
            <div class="formFieldHelp">
                This is the internal Andromeda partner name
            </div>

            <!-- External ID -->
            <div class="editor-label">
                @Html.LabelFor(model => model.Partner.ExternalId):
            </div>
            <div class="editor-field">
                @Model.Partner.ExternalId
            </div>
            <div class="formFieldHelp">
                This is no longer used
            </div>
        </div>
    }
    else
    {
        using (Html.BeginForm())
        { 
        <h3 class="h3WithEditButton">Partner details</h3>
        <div class="editButton">
            <input type="submit" value="Update" class="button" />
            @Html.ActionLink("Cancel", "Details", new { id = Model.Partner.Id })
        </div>
        <div>
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.Partner.Id)

            <!-- Name -->
            <div class="editor-label">
                @Html.LabelFor(model => model.Partner.Name):
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Partner.Name)
                @Html.ValidationMessageFor(model => model.Partner.Name)
            </div>

            <!-- External ID -->
            <div class="editor-label">
                @Html.LabelFor(model => model.Partner.ExternalId):
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Partner.ExternalId)
                @Html.ValidationMessageFor(model => model.Partner.ExternalId)
            </div>
        </div>
        }
    }

    <div style="clear: both; padding-top: 10px;">
        <h3 class="h3WithEditButton">Partner applications</h3>

        @if (ViewBag.Permissions.Contains("AddACSApplication"))
        {
            <div class="editButton">@Html.ActionLink("add", "AddApplication", new { id = Model.Partner.Id })</div>
        }

        <table class="listTable" id="acsApplications">
            <thead>
                <tr>
                    <th>Application</th>
                    <th>External Id</th>
                    <th>Environment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AndroAdminDataAccess.Domain.ACSApplication acsApplication in Model.ACSApplications)
                { 
                    <tr>
                        <td>@Html.ActionLink(acsApplication.Name, "Application", new { id = acsApplication.Id.ToString() })</td>
                        <td>@acsApplication.ExternalApplicationId</td>
                        <td>@acsApplication.EnvironmentName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $('#acsApplications').dataTable(
        {
            "sScrollY": "500px",
            "bScrollCollapse": false,
            "bPaginate": false,
            "bFilter": false,
            "sPaginationType": "scrolling"
        }
     );
</script>

