@model MyAndromeda.Web.Areas.AndroWebOrdering.Models.AndroWebOrderingWebSiteModel

@{
    var workcontext = Html.GetWorkContext();
    var translator = Html.GetTranslator();
}

<div kendo-validator="SiteDetailsValidator">
    <div class="row">
        <div class="col-xs-12 col-md-6 form-horizontal form-widgets">
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-12" for="DomainName">
                    @translator.T("Domain Name:")
                </label>
                <div class="col-md-8 col-xs-12">
                    <input type="text" class="k-textbox"
                           @*pattern="[0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*(:(0-9)*)*([a-zA-Z0-9\-\.\?\,\'\+&amp;%\$#_]*)?$"*@
                           pattern="([a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,}$"
                           required="required"
                           id="DomainName"
                           name="DomainName"
                           data-bind="value: DomainName" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-xs-12" for="SiteDetails.DomainName">
                    @translator.T("Parent Website:")
                </label>
                <div class="col-md-8 col-xs-12">
                    <input type="url" class="k-textbox"
                        id="SiteDetails.ParentWebSiteName"
                        name="SiteDetails.ParentWebSiteName"
                        data-bind="value: ParentWebSiteName" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-xs-12" for="SiteDetails.DomainName">
                    @translator.T("Redirect:")
                </label>
                <div class="col-md-8 col-xs-12">
                    <label>
                        <input type="checkbox" value="true" data-bind="checked: RedirectToParentAfterCheckout" />
                        Redirect to parent website after checkout
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" value="true" data-bind="checked: RedirectToParentOnLogoClick" />
                        Clicking logo redirect to parent site
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-xs-12" for="MainLogo">
                    @translator.T("Website Logo:")
                </label>
                <div class="col-md-8 col-xs-12">
                    <div class="thumbnail">
                        @*<img data-bind="attr: { src: WebsiteLogoPath }">*@
                        <img ng-if="HasWebsiteLogo" ng-src="{{TempWebsiteLogoPath}}" />
                        <div ng-hide="HasWebsiteLogo">
                            <p>Please upload a logo.</p>
                        </div>
                    </div>

                    <input name="mainLogo" type="file" accept="image/gif,image/jpeg,image/pjpeg,image/png,image/svg+xml,image/tiff"
                        kendo-upload="MainImageUpload"
                        k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: true }" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-xs-12" for="MobileUpload">
                    @translator.T("Mobile Logo:")
                </label>
                <div class="col-md-8 col-xs-12">
                    <div class="thumbnail">
                        @*<img data-bind="attr: { src: MobileLogoPath }">*@
                        <img ng-if="HasMobileLogo" ng-src="{{TempMobileLogoPath}}" />
                        <div ng-hide="HasMobileLogo">
                            <p>Please upload a logo.</p>
                        </div>
                    </div>

                    <input type="file" name="mobileLogo" accept="image/gif,image/jpeg,image/pjpeg,image/png,image/svg+xml,image/tiff"
                        kendo-upload="MobileImageUpload"
                        k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: true }" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-xs-12" for="FaviconUpload">
                    @translator.T("Favicon Logo:")
                </label>
                <div class="col-md-8 col-xs-12">
                    <div class="thumbnail">
                        @*<img data-bind="attr: { src: MobileLogoPath }">*@
                        <img ng-if="HasFaviconLogo" ng-src="{{TempFaviconLogoPath}}" />
                        <div ng-hide="HasFaviconLogo">
                            <p>Please upload a logo(.ico).</p>
                        </div>
                    </div>

                    <input type="file" id="FaviconImageUpload" name="FaviconLogo" accept="image/x-icon"
                           kendo-upload="FaviconImageUpload"
                           onselect="ValidateFavicon"
                           k-async="{saveUrl: 'save', removeUrl: 'remove', autoUpload: true }" />
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <button type="button" class="k-button k-primary" ng-click="SaveChanges()">Save changes</button>
        </div>

    </div>
</div>
