@*@model MyAndromeda.Web.Areas.AndroWebOrdering.Models.AndroWebOrderingWebSiteModel
@using (Html.BeginForm("CheckoutPageSettings", "AndroWebOrdering", FormMethod.Post, new { Id = Model.Id}))
{
    @Html.Hidden("Id", Request.QueryString["id"])
    <div style="height:435px;">
        <div style="margin-top:20px;">
        </div>
        <div>
            <h5><b>Upselling</b></h5>
            <div class="horizontalCheckBox">
                <div class="editor-label2">@Html.CheckBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.IsEnable) Enable upselling checkout page</div>
                <div style="margin-left:30px;">
                    <div class="editor-label2" style="margin-bottom:15px;">Select the menu categories to upsell and the prompts:</div>
                    <div class="editor-label">
                        @Html.CheckBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Soup.IsEnable) Soup
                    </div>
                    <div class="editor-field2">
                        @Html.TextBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Soup.DisplayQuestion)
                    </div>
                    <div class="editor-label">
                        @Html.CheckBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Sushi_Boxes.IsEnable) Sushi boxes
                    </div>
                    <div class="editor-field2">
                        @Html.TextBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Sushi_Boxes.DisplayQuestion)
                    </div>
                    <div class="editor-label">
                        @Html.CheckBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Sharing_Boxes.IsEnable) Sharing boxes
                    </div>
                    <div class="editor-field2">
                        @Html.TextBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Sharing_Boxes.DisplayQuestion)
                    </div>
                    <div class="editor-label">
                        @Html.CheckBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Side_Dishes.IsEnable) Side dishes
                    </div>
                    <div class="editor-field2">
                        @Html.TextBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Side_Dishes.DisplayQuestion)
                    </div>
                    <div class="editor-label">
                        @Html.CheckBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Desserts.IsEnable) Desserts
                    </div>
                    <div class="editor-field2">
                        @Html.TextBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Desserts.DisplayQuestion)
                    </div>
                    <div class="editor-label">
                        @Html.CheckBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Snacks.IsEnable) Snacks
                    </div>
                    <div class="editor-field2">
                        @Html.TextBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Snacks.DisplayQuestion)
                    </div>
                    <div class="editor-label">
                        @Html.CheckBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Drinks.IsEnable) Drinks
                    </div>
                    <div class="editor-field2">
                        @Html.TextBoxFor(e => e.WebsiteConfigurations.UpSellingSettings.Drinks.DisplayQuestion)
                    </div>
                </div>
            </div>
        </div>
        <div class="editor-label saveDiv" style="margin-top:10px !important;">
            <button id="saveUpSelling" class="k-button k-primary">Save</button>
        </div>
    </div>
}
*@
