@using MyAndromedaDataAccess.Domain.Reporting;
@model dynamic
@{
    Func<string, string> nameElement = (name) => string.Format("{0}{1}SparkLine", name, Model.Name);
    string turnoverElement = nameElement("TotalTurnoverWeek"); 
    string totalElement = nameElement("TotalOrders");
    int dayDuration = Model.Duration; 
}
<div id="RangeView">
    <table class="sparkline" data-date="">
        <colgroup>
            <col style="width: 100px" />
            <col style="width: 100px" />
            <col style="width: 100px" />
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Turnover</td>
                <td>@Model.TotalRangeTurnover.ToString("C")</td>
                <td>
                    <span id="@turnoverElement"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Daily Avg
                </td>
                <td>@(string.Format("{0:C}", Model.RangeAverage ))</td>
                <td></td>
            </tr>
            <tr>
                <td>Orders</td>
                <td>
                    @Model.RangeCount
                </td>
                <td>
                    <span id="@totalElement"></span>
                    @*@(Html.Kendo().Sparkline(Model.OrderData.OrderBy(e=> e.Day)).Name("TotalOrdersWeekSparkLine").Series(e => e.Line(data => data.Count)))*@
                </td>
            </tr>
        </tbody>
    </table>
</div>
@using (Html.BeginScripts())
{ 
    <script type="text/javascript">
        
    </script>
}