@model MyAndromeda.Web.Models.Account.ChangePasswordModel
@{
    var translator = Html.GetTranslator();    
}
<div id="reset-password">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div>
            <fieldset>
                <legend>@translator.T("Change Password")</legend>

                <div class="editor-label">
                    @Html.LabelFor(m => m.NewPassword, translator.T("New Password"))
                </div>
                <div class="editor-field">
                    <input type="password" 
                        name="@Html.NameFor(e=> e.NewPassword)" id="@Html.IdFor(e=> e.NewPassword)" value="@Model.NewPassword"
                        title="@translator.T("Enter a password at least {0} characters long", 7)"
                        pattern=".{7,}" 
                        required="required" 
                        />
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="editor-label">
                    <label>@translator.T("Password strength")</label>
                </div>
                <div class="editor-field"><div id="passStrength" style="width: 218px; margin-bottom:9px"></div></div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmPassword, translator.T("Confirm Password"))
                </div>
                <div class="editor-field">
                    <input type="password" required="required" name="@Html.NameFor(e=> e.ConfirmPassword)" value="@Model.ConfirmPassword"  />
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <input class="k-button" type="submit" name="Save" value="@translator.T("Save")" />
            </fieldset>
        </div>
    }
</div>



@using (Html.BeginScripts())
{
    Html.RequireScript("~/Scripts/app/Validation/PasswordStrength.js", Area.Foot);
    if (false) { 
    <script src="~/Scripts/app/Validation/PasswordStrength.js"></script>
    }
    
    <script type="text/javascript">
        $(function () {
            
            MyAndromeda.Validation.PasswordValidator.BannedPasswordMessage = "@translator.T("Banned or invalid password")";
            MyAndromeda.Validation.PasswordValidator.EmptyMessage = "@translator.T("Empty")";
            MyAndromeda.Validation.PasswordValidator.WeakMessage = "@translator.T("Weak")";
            MyAndromeda.Validation.PasswordValidator.GoodMessage = "@translator.T("Good")";
            MyAndromeda.Validation.PasswordValidator.StrongMessage = "@translator.T("Strong")";

            var passwordStrength = new MyAndromeda.Validation.PasswordValidator({
                InputElement: "#@Html.IdFor(e=> e.NewPassword)",
                ProgressElement: "#passStrength"
            });
        });
        $(function () {
            $("#reset-password").kendoValidator({
                rules: {
                    verifyPasswords: function(input){
                        var ret = true;
                        if (input.is("[name=@Html.NameFor(e=> e.ConfirmPassword)]")) {
                            ret = input.val() === $("#@Html.IdFor(e=> e.NewPassword)").val();
                        }
                        return ret;
                    }
                },
                messages: {
                    verifyPasswords: "@translator.T("Passwords do not match!")"
                }
            });
        });
    </script>
}
