@model MyAndromeda.Web.Models.Account.ResetPasswordModel
@{
    var translator = Html.GetTranslator();
}
<div class="row">

    <div id="ResetPasswordWrapper" class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">
                    Reset Password
                </span>

            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(e => e.Email)
                    @Html.HiddenFor(e => e.Code)

                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="editor-label">
                                <label for="@Html.IdFor(e => e.Password)">@translator.T("New Password")</label>
                            </div>
                            <div class="editor-field">
                                <input type="password" required="required" 
                                       id="@Html.IdFor(e => e.Password)" 
                                       class="k-textbox"
                                       name="@Html.NameFor(e => e.Password)" 
                                       title="@translator.T("Enter a password at least {0} characters long", 7)"
                                       pattern=".{7,}"
                                       />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="editor-label">
                                <label>@translator.T("Password strength")</label>

                            </div>
                            <div class="editor-field">
                                <div id="passStrength" style="width: 218px; margin-bottom: 9px"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" value="@translator.T("Save Password")" class="btn btn-primary" />
                        </div>
                    </div>

                }
            </div>
        </div>


    </div>
</div>

@using (Html.BeginScripts())
{
    Html.RequireScript("~/Scripts/app/Validation/PasswordStrength.js", Area.Foot);
    if (false)
    {
        <script src="~/Scripts/app/Validation/PasswordStrength.js"></script>
    }

    <script type="text/javascript">
        $(function () {
            var m = MyAndromeda.Validation.PasswordValidator;
            m.BannedPasswordMessage = "@translator.T("Banned or invalid password")";
            m.EmptyMessage = "@translator.T("Empty")";
            m.WeakMessage = "@translator.T("Weak")";
            m.GoodMessage = "@translator.T("Good")";
            m.StrongMessage = "@translator.T("Strong")";

            var passwordStrength = new MyAndromeda.Validation.PasswordValidator({
                InputElement: "#@Html.IdFor(e=> e.Password)",
                ProgressElement: "#passStrength"
            });
        });
        $(function () {
            $("#reset-password").kendoValidator({
                rules: {
                    verifyPasswords: function (input) {
                        var ret = true;
                        if (input.is("[name=@Html.NameFor(e=> e.Password)]")) {
                            ret = input.val() === $("#@Html.IdFor(e=> e.Password)").val();
                        }
                        return ret;
                    }
                },
                messages: {
                    verifyPasswords: "@translator.T("Passwords do not match!")"
                }
            });
        });
    </script>
}
