@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Head {
  @RenderSection("Head", false)
}

@section Script {
  @RenderSection("Script", false)
}

@section SubMenu {
    @*<section id="subMenuSection" class="menu">
        <ul>
            @{
                List<string> permissions = ViewBag.Permissions;
            }

            <!-- Partners -->
            @if (permissions.Contains("ViewACSPartners"))
            {
            <li>
                @Html.ActionLink("Partners", "Index", "Partner", new { }, new { @class = ViewBag.SelectedWebOrderingMenu == AndroAdmin.Model.WebOrderingMenuItemEnum.Partners ? "navSelected" : "navLink" })
            </li>
            }

            <!-- Metrics -->
            @if (permissions.Contains("ViewACSPartners"))
            {
                <li>
                    @Html.ActionLink("Metrics", "Index", "Metrics", new { }, new { @class = ViewBag.SelectedWebOrderingMenu == AndroAdmin.Model.WebOrderingMenuItemEnum.Metrics ? "navSelected" : "navLink" })
                </li>
            }
            
            <!-- Cloud Servers -->
            @if (permissions.Contains("ViewCloudServers"))
            {
            <li>
                @Html.ActionLink("Cloud Servers", "Index", "CloudServer", new { }, new { @class = ViewBag.SelectedWebOrderingMenu == AndroAdmin.Model.WebOrderingMenuItemEnum.CloudServer ? "navSelected" : "navLink" })
            </li>
            }

            <!-- Menu Sync -->
            @if (permissions.Contains("ACSMenuSync"))
            {
            <li>
                @Html.ActionLink("Menu Sync", "Index", "MenuSync", new { }, new { @class = ViewBag.SelectedWebOrderingMenu == AndroAdmin.Model.WebOrderingMenuItemEnum.MenuSync ? "navSelected" : "navLink" })
            </li>
            }
            
            <!-- SignalR Hubs -->
            @if(permissions.Contains(AndroAdmin.Permissions.ReadHubs))
            {
            <li>
                @Html.ActionLink("Hubs", "Index", "Hubs", new { }, new { @class = ViewBag.SelectedWebOrderingMenu == AndroAdmin.Model.WebOrderingMenuItemEnum.Hubs ? "navSelected" : "navLink" })
            </li>
            }

            <!--  -->
            @if(permissions.Contains(AndroAdmin.Permissions.EditServicesHostList.ReadHostList) || permissions.Contains(AndroAdmin.Permissions.EditServicesHostList.EditHostList))
            {
            <li>
                @Html.ActionLink("Host Services", "Index", "HostV2", new {}, new { @class = ViewBag.SelectedWebOrderingMenu == AndroAdmin.Model.WebOrderingMenuItemEnum.HostServices ? "navSelected" : "navLink" })
            </li>
            }

            <!-- Diagnostics -->
            @if(permissions.Contains("ACSDiagnosticTests"))
            {
            <li>
                @Html.ActionLink("ACSDiagnosticTests", "Index", "ACSDiagnosticTests", new { }, new { @class = ViewBag.SelectedWebOrderingMenu == AndroAdmin.Model.WebOrderingMenuItemEnum.ACSDiagnosticTests ? "navSelected" : "navLink" })
            </li>
            }
        </ul>
    </section>*@
}

@RenderBody()