@using MyAndromeda.Data.DataWarehouse.Models;
@model MyAndromeda.Data.DataWarehouse.Models.OrderLine

@{
    var baseStyle = "margin:0; padding:0; font-size: 16px; line-height:17px;";
    var paragraphStyle = baseStyle + "text-align: left;";
    var paragraphStyleCenter = baseStyle + "text-align: center;";
    var boldParagraphStyle = baseStyle + "font-weight: bold;";
}

<tr>
    <td colspan="2" style="@paragraphStyleCenter; padding: 4px 7px; vertical-align: top; background-color:#E8E8E8;" valign="top">
        @Model.Qty.GetValueOrDefault(1)
    </td>
    <td colspan="5" valign="top" style="@paragraphStyle; vertical-align: top; padding: 4px 7px;background-color:#E8E8E8;">

        @if (!string.IsNullOrWhiteSpace(Model.Cat1) || !string.IsNullOrWhiteSpace(Model.Cat2))
        {
            <span>
                @Html.WriteIfNotNullOrEmpty(Model.Cat1)
                @Html.WriteIfNotNullOrEmpty(Model.Cat2)
            </span>
        }

        @Model.Description

        @foreach (var modifier in Model.modifiers.OrderBy(e => !e.Removed))
        {
            <br />
            if (!modifier.Removed.Value)
            {
                <span>&nbsp;&nbsp;&nbsp;</span>
                <text> + @modifier.Qty x @modifier.Description</text>
            }
            else
            {
                <span>&nbsp;&nbsp;&nbsp;</span>
                <text>@(modifier.Qty.Value * -1) x @modifier.Description
                </text>
            }
        }
    </td>
</tr>

