@using MyAndromeda.Web.Areas.Marketing.ViewModels;
@model PreviewEmailCampaignViewModel

<div data-id="@Model.Id" class="email-template-preview">
    <div class="header">
        <h3>Launch Campaign</h3>
        <a class="k-button" href="@Url.Action("Index")">Back</a>
    </div>
    <div class="k-content">
        <p>Use this window to send previews to yourself. Content will be picked on random.</p>

        <div class="clearfix">
            <div class="sb-right content1">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="header">
                        <h3>Options</h3>
                    </div>
                 
                    @Html.HiddenFor(e => e.Id)

                    @*<div>
                        <label for="filter">Send to:</label>
                        <label><input type="radio" name="filter" value="Everyone" id="filter" />Everyone</label>
                    </div>*@
                        
                    <div>
                        @Html.LabelFor(e => e.SendOn, "Enter when you want the email to send, or leave blank for as soon as possible.")
                        @(Html.Kendo().DateTimePickerFor(e => e.SendOn).Min(DateTime.Today).Value(DateTime.Now))
                    </div>
                
                    <div class="header" style="margin-top:1em">
                        <h3>Ready? @if(Model.DebugMode){<i>Debug mode is on</i>}</h3>
                    </div>
                    
                    if (Model.DebugMode) { 
                        <div class="note">
                            All of the customers email addresses will be sent to: @Model.EmailTo
                        </div>
                    }
                    
                    <div style="margin-top: 1em">
                        <input type="submit" class="k-button k-disabled" value="Send" />
                    </div>
                }
            </div>
            <div class="sb-right content2">
                <div class="header">
                    <h3>Subject: @Model.Template.Subject </h3>
                </div>
                <div class="header">
                    <h3>Template</h3>
                </div>
                <div class="content scroll-content">
                    <div class="template-email-content">
                        @Html.Raw(Model.Template.EmailTemplate)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



