@model IEnumerable<AndroAdminDataAccess.Domain.Log>

@{
    ViewBag.Title = "Website Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Website Logs</h2>
<table class="listTable" id="logs">
    <thead>
        <tr>
            <th>Id</th>
            <th>Created</th>
            <th>StoreId</th>
            <th>Severity</th>
            <th>Message</th>
            <th>Method</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
@foreach (AndroAdminDataAccess.Domain.Log log in Model)
{ 
        <tr>
            <th>@log.Id.ToString()</th>
            <th>@log.Created.ToString("Dictionary<string, MenuDetails>-MM-dd HH:mm:ss.fff")</th>
            <th>@log.StoreId.ToString()</th>
            <th>@log.Severity</th>
            <th>@log.Message</th>
            <th>@log.Method</th>
            <th>@log.Source</th>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    $('#logs').dataTable();
</script>
