@model MyAndromeda.Data.DataWarehouse.Models.Customer
@{
    ViewBag.Title = "_CustomerDetail_Address";

    var address = Model.Address;
    var translator = Html.GetTranslator();
}

@helper Directions(string directions)
{
    if (!string.IsNullOrWhiteSpace(directions))
    {
        var translator = Html.GetTranslator();

        <h3>@translator.T("Directions")</h3>
        <div>
            @directions
        </div>
    }
}

@helper AddressLine(string line)
{
    if (!string.IsNullOrWhiteSpace(line))
    {
        <div>
            @line
        </div>
    }
}

<h3>Address</h3>

<div>
    @if (address == null)
    {
        <p>No address has been provided.</p>
    }
    @if (address != null)
    {
        @AddressLine(address.Org1)
        @AddressLine(address.Org2)
        @AddressLine(address.Org3)
        @AddressLine(address.RoadNum)
        @AddressLine(address.RoadName)
        @AddressLine(address.Town)
        @AddressLine(address.State)
        @AddressLine(address.PostCode)
    }
</div>
<br />

@*<h3>Lat / Long</h3>
    @if (string.IsNullOrWhiteSpace(address.Long))
    {
        <div>@translator.T("No geo-coordinates have been captured.")</div>
    }
    else
    {
    <div>
        @address.Lat, @address.Long
    </div>
    }*@