@using MyAndromeda.Framework.Helpers;

@{
    var workContext = Html.GetWorkContext();    
}
@model MyAndromeda.Framework.Authorization.IAuthorizer

@*@if (workContext.CurrentRequest.Available) 
{
    using (Html.BeginHelpSection("Request", TabArea.Debug, false)) 
    {
        <div>@Html.Partial("Request")</div>
    }
}*@


@if (Model.Authorize(MyAndromeda.Web.DebugPermissions.ViewDebugMode))
{ 
    if (workContext.CurrentChain.Available)
    {
        using (Html.BeginHelpSection("Chain", TabArea.Debug, false))
        {
            <div>
                @Html.Partial("Chain")
            </div>
        }
    }
    if (workContext.CurrentSite.Available)
    {
        using (Html.BeginHelpSection("Site", TabArea.Debug, true))
        {
            <div>
                @Html.Partial("Site")
            </div>
        }
        using (Html.BeginHelpSection("Store Menu", TabArea.Debug))
        {
            <div>
                @Html.Action("Debug", "DatabaseMenu", new { Area = "Menu", ChainId = workContext.CurrentSite.ChainId, AndromedaSiteId = workContext.CurrentSite.AndromediaSiteId })
            </div>
        }
    }
    using (Html.BeginHelpSection("Sync-Status", TabArea.Debug))
    {
        <div>@Html.Partial("SyncHubStatus")</div>
    }

    using (Html.BeginHelpSection("Logging", TabArea.Debug))
    {
        <div>
            @Html.Partial("Logging")
        </div>
    }

    if (workContext.CurrentUser.Available)
    {
        using (Html.BeginHelpSection("User", TabArea.Debug))
        {
            <div>@Html.Partial("User")</div>
        }
    }

    using (Html.BeginHelpSection("Localization", TabArea.Debug))
    {
        <div>@Html.Partial("Localization")</div>
    }


    <div class="container slide-in-help slide-in-help-debug hidden-xs show-animation" style="padding:0">
        <!-- move the buttons around -->
        <div style="float: right; height: 0; width:0; margin-top: 360px; position: relative">
            <div class="pull-right slide-in-hide-handle handle-hide" style="margin-right: -31px">
                <span class="k-icon k-i-cancel"></span>
            </div>

            <div class="pull-right slide-in-open-handle handle-help" style="margin-right: -31px;">
                <span class="span-message">Debug</span>
            </div>
        </div>
        
        <div class="navbar-fixed-top" style="height: 557px; overflow: auto; position:relative;">
        @(Html.Kendo().TabStrip()
            .Name("DubugSections")
            .HtmlAttributes(new { Height = "500px" })
            .Items(items =>
            {
                foreach (var helpItem in Html.HelpSections(TabArea.Debug))
                {
                    items.Add()
                        .Text(helpItem.Name)
                        .Content(@<text>@helpItem.Content</text>)
                        .Selected(helpItem.Selected);
                }

                items.Add().Text("Permissions").Content(@<text>
                <div>@Html.Action("Permissions", "Debug", new { Area = "" })</div>
                </text>);
            })
        )
        </div>

    </div>
}