@{
    var workContext = Html.GetWorkContext();
    var translator = Html.GetTranslator();

    var million = 1000000;
    var decimalValue = 2002.25;
}

<div class="header">
    @translator.T("UI Culture") - @workContext.LocalizationContext.CurrentUiCulture
</div>
<div>
    <label>UTC now: @DateTime.UtcNow.ToString("g")</label>
    <br />
    <label>
        UTC now to local time: @workContext.DateServicesFactory().ConvertToLocalFromUtc(DateTime.UtcNow).GetValueOrDefault().ToString("g")
    </label>
</div>
<div>
    @million.ToString("c")
    <br />
    @decimalValue.ToString("c");
</div>

<div class="header">
    @translator.T("Time zone") - @workContext.LocalizationContext.CurrentTimeZone.DisplayName;
</div>

<div>
    <label>Daylight name</label>
    @workContext.LocalizationContext.CurrentTimeZone.DaylightName
</div>
<div>
    <label>Offset</label>
    <div>Hours: @workContext.LocalizationContext.CurrentTimeZone.BaseUtcOffset.TotalHours</div>
    <div>Minutes: @workContext.LocalizationContext.CurrentTimeZone.BaseUtcOffset.Minutes</div>
</div>
<div>
    <label>Supports daylight saving time</label>
    @workContext.LocalizationContext.CurrentTimeZone.SupportsDaylightSavingTime
</div>
<div>
    <label>
    </label>
</div>
