@model MyAndromeda.Authorization.Services.ICurrentPermissionService
@{
    var permissions = Model.GetEffectivePermissions();
    var storeCategories = permissions.StorePermissions.GroupBy(e => e.Category);
    var userCategories = permissions.UserPermissions.GroupBy(e => e.Category);
}

<div class="header">
    <h3>Effective Permissions</h3>
    <a class="k-button" href="@Url.Action("Levels", "UserRoleAuthorization", new { Area = "Authorization" })">User Roles</a>
    <a class="k-button" href="@Url.Action("Levels", "StoreEnrolementPermission", new { Area = "Authorization" })">Enrolment Levels</a>
</div>
<p>Below are the effective permissions for this area</p>
<div class="header">
    <h3>User Permissions</h3>
</div>
@foreach (var category in userCategories) 
{

    <div class="header">
        <h3>@category.Key</h3>
    </div>
    <ul>
        @foreach (var item in category) { 
            <li>@item.Name</li>
        }
    </ul>
}

<div class="header">
    <h3>Store Permissions</h3>
</div>

@foreach (var category in storeCategories) 
{

    <div class="header">
        <h3>@category.Key</h3>
    </div>
    <ul>
        @foreach (var item in category) { 
            <li>@item.Name</li>
        }
    </ul>
}