@model AndroAdmin.Model.SecurityGroupModel

@{
    ViewBag.Title = "Security group permissions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Html.ActionLink("Security Groups", "Index") / @Html.ActionLink(Model.SecurityGroup.Name, "Details", new { id = @Model.SecurityGroup.Id }) / Permissions</h2>

@{Html.EnableClientValidation(false);}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SecurityGroup.Id);
    
    <div class="editButton">
        <input type="submit" value="Save changes" class="button" />
        @Html.ActionLink("Cancel", "Details", new { id = Model.SecurityGroup.Id })
    </div>

    <div id="sitesContainer">
        <table class="listTable" id="stores">
            <thead>
                <tr>
                    <th></th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            @for (int index = 0; index < Model.Permissions.Count; index++)
            {
                AndroUsersDataAccess.Domain.Permission permission = Model.Permissions[index].Permission;
                <tr>
                    @Html.HiddenFor(model => Model.Permissions[index].Permission.Id)
                    <td>@Html.CheckBoxFor(model => Model.Permissions[index].Selected)</td>
                    <td>@permission.Description</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

<script type="text/javascript">
    $('#stores').dataTable(
        {
            "sScrollY": "500px",
            "bScrollCollapse": false,
            "bPaginate": false,
            "bFilter": false,
            "sPaginationType": "scrolling"
        }
     );
</script>
