@model  MyAndromeda.Web.Areas.Reporting.ViewModels.VoucherSummaryViewModel

@{
    ViewBag.Title = "VoucherReports";
    var translator = Html.GetTranslator();
    var date = DateTime.Now;
}

<fieldset class="clearfix">
    <div class="header">
        <h3>Voucher Usage</h3>
    </div>

    @*@using (Html.BeginForm())
    {
        <div class="editor-label">
            <b>Select a coupon:</b>
        </div>
        <div style="height: 20px"></div>
        <div>
            @(Html.Kendo().DropDownListFor(m => m.VoucherId)
              .HtmlAttributes(new { style = "width:200px" })
              .OptionLabel("Select Voucher")
              .DataTextField("VoucherCode")
              .DataValueField("Id")
              .Value(Model.VoucherId.ToString())
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetVoucherCodeList", "Voucher");
                  });
              }))
        </div>
        <div style="height: 10px"></div>
        <button class="k-button" type="submit">View Report</button>
        <div style="height: 20px"></div>
    }*@
    @using (Html.BeginForm())
    {
        <fieldset class="form-group">
            <b>Select a coupon:</b>
        </fieldset>
        <fieldset class="form-group">
            @Html.LabelFor(m => m.VoucherId)

            @(Html.Kendo().DropDownListFor(m => m.VoucherId)
              .HtmlAttributes(new { style = "width:200px", @class= "form-control" })
              .OptionLabel("Select Voucher")
              .DataTextField("VoucherCode")
              .DataValueField("Id")
              .Value(Model.VoucherId.ToString())
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetVoucherCodeList", "Voucher");
                  });
              }))
        </fieldset>
        <fieldset class="form-group">
           @Html.LabelFor(m=> m.From)

            @(Html.Kendo().DatePickerFor(m => m.From)
              .Name("from")
              .Value(new DateTime(date.Year, date.Month, 1))
              .HtmlAttributes(new { @class = "form-control" })
            )
        </fieldset>
        <fieldset class="form-group">
            @Html.LabelFor(m => m.To)

            @(Html.Kendo().DatePickerFor(m => m.To)
              .Name("to")
              .Value(new DateTime(date.Year, date.Month, DateTime.DaysInMonth(date.Year, date.Month)))
              .HtmlAttributes(new { @class = "form-control" })
            )
        </fieldset>
        <button type="submit" class="btn btn-primary">View Report</button>
    }
    <hr />
    <div class="row">
        <div class="col-lg-2">
            Turnover:
        </div>
        <div class="col-lg-9">
            @String.Format("{0:C}", @Model.VoucherSummary.TotalTurnover)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            Nb Uses:
        </div>
        <div class="col-lg-9">@Model.VoucherSummary.TotalNumberofUses</div>
    </div>
    <div class="row">
        <div class="col-lg-2">Avg Order:</div>
        <div class="col-lg-9">@String.Format("{0:C}", @Model.VoucherSummary.TotalAverage)</div>
    </div>

    <div style="height: 20px"></div>
    <div class="editor-label">
        <b>Sales History:</b>
    </div>
    <div style="height: 20px"></div>
    <div>
        @(Html.Kendo().Grid(Model.VoucherSummary.voucherData).Name("SalesHistory")
            .Filterable(f => f.Enabled(true))
            .Columns(cols =>
            {
                cols.Bound(e => e.Day)
                    .Filterable(true).Title("")
                    .Format("{0: dd-MM-yyyy}");
                cols.Bound(e => e.Total)
                    .Title(translator.T("Turnover"))
                    .Format("{0:c}");
                cols.Bound(e => e.NumberOfUses)
                    .Title(translator.T("Used"))
                    .Format("{0:0}");
                cols.Bound(e => e.Average)
                    .Title("Avg Order")
                    .Format("{0:c}");
            }))
    </div>

</div>

@using (Html.BeginScripts())
{

}