@{
    ViewBag.Title = "Andro Admin Home";
}

<div class="helpPage">
    <h2>@Html.ActionLink("Help", "Index") / Store AMS upload</h2>

    <p>To configure a store for AMS that is not already setup , firstly select the AMS server to upload data to.  Then select the FTP server that should be used to get the data to the AMS server.</p>

    <img src="@Url.Content("~/Content/Images/Help/StoreAMSUpload.png")" />

    <p>Once a store is configured to upload to an AMS server, the AMS server and FTP site details are displayed.  To stop uploading to the AMS server click the delete button.</p>

    <img src="@Url.Content("~/Content/Images/Help/StoreAMSUpload2.png")" />
    
    <p>You can configure a store to upload to as many different AMS servers as you like.  Simply use the drop down combos at the bottom of the page to add more AMS servers.</p>

    <img src="@Url.Content("~/Content/Images/Help/StoreAMSUpload3.png")" />

    <p>You can also configure a store to upload data to an AMS server via multiple FTP sites.  You should only do this if you’ve been specifically asked to.  To upload data via a second or third FTP site simply select the same AMS server but a different FTP server from the drop downs.  The second FTP server will appear against the AMS Server as follows:</p>

    <img src="@Url.Content("~/Content/Images/Help/StoreAMSUpload4.png")" />

</div>

