@model AndroAdmin.Model.UserModel
           
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2 id="loginHeader">Andromeda administration login</h2>

@using (Html.BeginForm())
{ 
    <div id="loginContainer">
        <h3>Please enter your username and password</h3>
        <div class="editor-label"> 
            @Html.LabelFor(model => model.EmailAddress, "Email address:") 
        </div> 
        <div class="editor-field-long"> 
            @Html.TextBoxFor(model => model.EmailAddress)
        </div>
       
        <div class="editor-label"> 
            @Html.LabelFor(model => model.Password, "Password:") 
        </div> 
        <div class="editor-field-long"> 
            @Html.PasswordFor(model => model.Password)
        </div> 

        <div style="clear:both;">
           @Html.ValidationSummary() 
        </div>

        <p class="editor-submitButton"> 
            <input type="submit" value="Logon" />
        </p> 
    </div>
}

<div id="cookiesDisabledDiv" name="cookiesDisabledDiv" style="display:none; text-align:center; padding-top:20px; color:red">
Cookies appear to be disabled in your web browser.<br /><br />
This website requires cookies to function correctly.<br /><br />
Please ensure cookies are enabled in your web browser settings.</div>
<script type="text/javascript">
    var cookieName = '_' + new Date().getTime();

    document.cookie = cookieName;
    cookieEnabled = (document.cookie.indexOf(cookieName) != -1) ? true : false;

    var cookiesDisabledDiv = document.getElementById('cookiesDisabledDiv');
    if (cookieEnabled) {
        cookiesDisabledDiv.style.display = 'none';
    }
    else {
        cookiesDisabledDiv.style.display = 'block';
    }
</script>

