
<div style="height: 430px; width: auto;">
    <div kendo-validator="GeneralSettingsValidator">
        <div class="row">
            <div class="col-xs-12 col-md-6 form-horizontal form-widgets">
                <div class="form-group">
                    <label class="control-label col-md-4 col-xs-12">
                        Minimum Delivery Amount:
                    </label>
                    <div class="col-md-8 col-xs-12">
                        <!-- some fiddling with pence -> pound in the controller -->
                        <input kendo-numeric-text-box k-min="0" k-format="'c'" k-ng-model="MinimumDeliveryAmount" />
                    </div>
                </div>

                <!-- settings -->
                <div class="form-group">
                    <label class="control-label col-md-4 col-xs-12">Settings</label>
                    <div class="col-md-8 col-xs-12">
                        <label>
                            <input type="checkbox" 
                                ng-disabled="(true)"
                                value="true"
                                name="Model.WebsiteConfigurations.GeneralSettings.IsEnterPostCode"
                                data-bind="checked: GeneralSettings.IsEnterPostCode" />
                            Enter Postcode Lookup
                        </label>
                        <br />
                        <label>
                            <input type="checkbox" value="true"
                                name="Model.WebsiteConfigurations.GeneralSettings.EnableHomePage"
                                data-bind="checked: GeneralSettings.EnableHomePage" />
                            Enable Home Page
                        </label>
                    </div>
                </div>

                <!-- Login settings -->
                <div class="form-group">
                    

                    <label class="control-label col-md-4 col-xs-12">Login options</label>
                    
                    <div class="col-md-8 col-xs-12">
                        <label>
                            <input type="checkbox" value="true"
                                name="Model.WebsiteConfigurations.GeneralSettings.EnableAndromedaLogin"
                                data-bind="checked: CustomerAccountSettings.EnableAndromedaLogin" />
                            Enable Andromeda Login
                        </label>
                        <br />
                        <label>
                            <input type="checkbox" value="true"
                                name="Model.WebsiteConfigurations.GeneralSettings.EnableFacebookLogin"
                                ng-model="ShowFacebookAppId"
                                data-bind="checked: CustomerAccountSettings.EnableFacebookLogin" />
                            Enable Facebook Login
                        </label>
                        <div style="padding-left: 20px" ng-show="ShowFacebookAppId">
                            <label>
                                Facebook Application Id
                            <input type="text" id="GeneralSettings.FacebookApplicationId" class="k-textbox"
                                name="Model.WebsiteConfigurations.GeneralSettings.FacebookApplicationId"
                                ng-required="ShowFacebookAppId"
                                data-bind="value: CustomerAccountSettings.FacebookAccountId" />
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-12" ng-hide="HasLoginOptions">
                        <div class="k-block k-error-colored well">
                            <span class="k-icon k-i-note"></span> No login options have been selected. There will be login option for the website.
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 20px"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="k-button k-primary center" ng-click="SaveChanges()">Save</button>

                <button type="button" title="Reset 'General Settings' to their defaults" ng-click="ResetToDefault()" class="k-button">
                    Reset to defaults
                </button>
            </div>
        </div>
    </div>
    @*<div>
                <div style="height: 130px; margin-top: 20px;">
                    <div>
                        <h5><b>Charges</b></h5>
                    </div>
                    <div class="editor-label1">Minimum Delivery Amount : </div>
                    <div class="editor-field1">
                        &pound;
                        @Html.TextBoxFor(e => e.WebsiteConfigurations.GeneralSettings.MinimumDeliveryAmount)
                        <input type="text" id="GeneralSettings.MinimumDeliveryAmount"
                            name="Model.WebsiteConfigurations.GeneralSettings.MinimumDeliveryAmount"
                            data-bind="value: MinimumDeliveryAmount" />
                    </div>
                    <div class="editor-label1">Delivery Charge : </div>
                    <div class="editor-field1"></div>
                    <div class="editor-label1">Apply Delivery Charges to orders above : </div>
                            <div class="editor-field1">&pound; @Html.TextBoxFor(e => e.GeneralSettings.ApplyDeliveryCharges)</div>
                </div>
                <div class="horizontalCheckBox">
                    <div class="verticalCheckBox">
                                            @Html.CheckBoxFor(e => e.WebsiteConfigurations.GeneralSettings.ApplyDeliveryCharges) Apply Delivery Charges to orders above : </div>
                        @Html.CheckBoxFor(e => e.WebsiteConfigurations.GeneralSettings.EnableStoreLocatorPage) Enable store locator page :
                        @Html.RadioButtonFor(e => e.WebsiteConfigurations.GeneralSettings.IsList, true) List (default)
                        @Html.RadioButtonFor(e => e.WebsiteConfigurations.GeneralSettings.IsList, false) Enter Postcode
                    </div>
                    <div style="margin-top: 35px;">
                        <div>
                            <h5><b>Store Details</b></h5>
                        </div>
                                        <div class="verticalCheckBox">@Html.CheckBoxFor(e => e.WebsiteConfigurations.HomePageSettings.EnableStoreDetails) Enable Store Details</div>
                        <div class="verticalCheckBox">@Html.CheckBoxFor(e => e.WebsiteConfigurations.HomePageSettings.ShowMinimumDelivery) Show minimum delivery on home page</div>
                        <div class="verticalCheckBox">@Html.CheckBoxFor(e => e.WebsiteConfigurations.HomePageSettings.ShowDeliveryCharge) Show delivery charges on home page</div>
                                        <div class="verticalCheckBox">@Html.CheckBoxFor(e => e.WebsiteConfigurations.HomePageSettings.ShowETD) Show ETD in home page</div>
                        <div class="verticalCheckBox">@Html.CheckBoxFor(e => e.WebsiteConfigurations.HomePageSettings.PostcodeLocator) Postcode Locator</div>
                    </div>
                </div>
                <div class="editor-label saveDiv" style="margin-top: 15px;">
                    <button class="k-button k-primary">Save</button>
                </div>
            </div>*@
</div>
<script type="text/javascript">
    ToggleRequiredAttribute = function () {
        var checkbox = document.getElementById($("#Model_WebsiteConfigurations_GeneralSettings_EnableFacebookLogin"));
        var txtFBId = document.getElementById($("#GeneralSettings_FacebookApplicationId"));
        if (checkbox.checked) {
            txtFBId.setAttribute("required", "required");
        }
        else {
            txtFBId.removeAttribute("required");
        }
    }
</script>
