@model MyAndromeda.Web.Areas.AndroWebOrdering.Models.AndroWebOrderingWebSiteModel
@using (Html.BeginForm("MenuPageSettings", "AndroWebOrdering", FormMethod.Post, new { Id = Request.QueryString["id"] }))
{
    @Html.Hidden("Id", Request.QueryString["id"])
    <div style="height:320px;">
        <div style="margin-top:20px;">
        </div>
        <div>
            <h5><b>Menu Page</b></h5>
            <div class="horizontalCheckBox">
@*                <div class="editor-label2">@Html.CheckBoxFor(e => e.WebsiteConfigurations.MenuPageSettings.IsEnableCommentsForChef) Enable comments for the chef</div>
                <div class="editor-label2">@Html.CheckBoxFor(e => e.WebsiteConfigurations.MenuPageSettings.IsEnableWhosItemIsThisFor) Enable whose this item for</div>
                <div class="editor-label2">@Html.CheckBoxFor(e => e.WebsiteConfigurations.MenuPageSettings.IsDisplayAlwaysShowToppingsPopupWhenAddingItemsToTheBasket) Always show toppings pop up when adding menu items to the basket</div>
                <div class="editor-label2">@Html.CheckBoxFor(e => e.WebsiteConfigurations.MenuPageSettings.IsEnableImangesForItems) Enable images for the items</div>
                <div class="editor-label2">@Html.CheckBoxFor(e => e.WebsiteConfigurations.MenuPageSettings.IsDisplayItemQuantityDropDown) Show item quantity dropdown box</div>
                <div class="editor-label2">@Html.CheckBoxFor(e => e.WebsiteConfigurations.MenuPageSettings.IsEnableDoubleToppings) Enable double toppings</div>*@
                @*<div class="editor-label2">@Html.CheckBoxFor(e => e.WebsiteConfigurations.MenuPageSettings.IsDisplayMinimumDeliveryAmountOnMenuPage) show minimum delivery amount on the menu page</div>
                <div class="editor-label2">@Html.CheckBoxFor(e => e.WebsiteConfigurations.MenuPageSettings.IsDisplayETDOnMenuPage) Show ETD on the menu page</div>*@
            </div>

        </div>
    </div>
}