
@using (Html.BeginScripts()) {
    var translator = @Html.GetTranslator();
    
    <script type="text/template" id="itemTemplate">
        <div class="menu-item k-widget" data-id="#:Id#">

            <div class="header" style="border-left-color: #:ColorStatus() #" >
                <a class="k-button k-button-edit">Edit</a>
                # if(Prices) { # 
                <div style="float:right" class="menu-list-prices">
                    <ul>
                        <li>Dine in: #: kendo.toString(Prices.Instore, "c") #</li>
                        <li>Delivery: #: kendo.toString(Prices.Delivery, "c") #</li>
                        <li>Collection: #: kendo.toString(Prices.Collection, "c") #</li>
                    </ul>
                </div> 
                # } #
                # if(Thumbs && Thumbs.length > 0) { #
                <div style="float:right" class="menu-list-thumbnail">
                    <img src="#:Thumbs[Thumbs.length-1].Url#" alt="" />
                </div>
                # } #
                
                <div style="float:left; width: 600px">
                    <div>
                        <h3>
                            #= DisplayName() #
                        </h3>
                    </div>
                    <div>
                        # if(DisplayName() !== Name){ # 
                        <p><span>(@translator.T("Store item name:") #: Name #)</span></p>
                        # } # 
                        <p>@translator.T("Web Section:") #:DisplayCategoryName#
                        # if ((Category1Name) || (Category2Name)) { #
                        # if(Category1Name) { #
                            <span> | @translator.T("Category1:") #: Category1Name #</span>
                            # } #
                            # if(Category2Name) { # 
                            <span> | @translator.T("Category2:") #: Category2Name #</span>
                            # } # 
                        # } #
                        </p>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
            #if (WebDescription) { #
            <div>
                Web Description: 
                <p>#= WebDescription #</p>
            </div>
            # } #
            #if (Toppings && (Toppings.DefaultToppings || Toppings.OptionalToppings) && (Toppings.DefaultToppings.length > 0 || Toppings.OptionalToppings.length > 0)) { #
            <div>
                Default Toppings:
                <p>
                    # for(var i = 0; i< Toppings.DefaultToppings.length; i++){ # 
                    <i>#=Toppings.DefaultToppings[i].Name#</i># if(i< Toppings.DefaultToppings.length-1){ #,# } #  
                    # } #
                </p>
                Optional Toppings:
                <p>
                    # for(var i = 0; i< Toppings.OptionalToppings.length; i++){ # 
                    <i>#=Toppings.OptionalToppings[i].Name#</i># if(i< Toppings.OptionalToppings.length-1){ #,# } #  
                    # } #
                </p>
            </div>
            # } #  
        </div>
    </script>

}