@model AndroAdmin.Model.UserModel

@{
    ViewBag.Title = "Edit users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Html.ActionLink("Users", "Index", "Admin") / @Model.EmailAddress</h2>

<div style="clear:both; padding-top: 10px;">

    @using (Html.BeginForm())
    { 
        @Html.HiddenFor(model => model.Id)

        <div class="editButton">
            <input type="submit" value="Save changes" class="button" />
            @Html.ActionLink("Cancel", "Index")
        </div>

        <table class="listTable" id="securityGroups">
            <thead>
                <tr>
                    <th></th>
                    <th>Security Group</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @for (int index = 0; index < Model.SecurityGroups.Count; index++)
                {
                    AndroUsersDataAccess.Domain.SecurityGroup securityGroup = Model.SecurityGroups[index].SecurityGroup;
                    <tr>
                        @Html.HiddenFor(model => Model.SecurityGroups[index].SecurityGroup.Id)
                        <td>@Html.CheckBoxFor(model => Model.SecurityGroups[index].Selected)</td>
                        <td>@securityGroup.Name</td>
                        <td>@securityGroup.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

<script type="text/javascript">
    $('#securityGroups').dataTable(
        {
            "sScrollY": "500px",
            "bScrollCollapse": true,
            "bPaginate": false,
            "sPaginationType": "scrolling"
        }
     );
</script>
