@model MyAndromeda.Web.Areas.Users.ViewModels.UserRoleViewModel
@using MyAndromeda.Core.Authorization;
@{
    var context = Html.GetWorkContext();    
}
<div class="header">
    <h3>@Model.User.Firstname @Model.User.Surname</h3>
    <p>@Model.User.Username</p>
</div>

@using (Html.BeginForm()) { 
    <div>
        @Html.HiddenFor(e=> e.User.Id)
        @foreach (var role in Model.AvailableRoles) 
        {
            if (role.Name.Equals(ExpectedRoles.Administrator) || role.Name.Equals(ExpectedRoles.SuperAdministrator)) 
            {
                if (!context.CurrentUser.Roles.Any(e => e.Name.Equals(ExpectedRoles.Administrator) || e.Name.Equals(ExpectedRoles.SuperAdministrator)))
                {
                    <input type="hidden" name="@Html.NameFor(e => e.SelectedRoles)" value="@role.Id" />
                }
                else 
                {
                    <label>
                        <input type="checkbox" name="@Html.NameFor(e=> e.SelectedRoles)" value="@role.Id" @if(Model.SelectedRoles.Any(e=> e == role.Id)){<text> checked="checked" </text>}  />
                        @role.Name
                    </label>
                }
            }
            else if (role.Name.Equals(ExpectedRoles.User))
            {
                <label>
                    <input type="checkbox"
                        disabled="disabled" 
                        name="@Html.NameFor(e=> e.SelectedRoles)" 
                        value="@role.Id" 
                        checked="checked" />
                    @role.Name
                </label>
            }
            else
            {
                <label>
                    <input type="checkbox" name="@Html.NameFor(e=> e.SelectedRoles)" value="@role.Id" @if(Model.SelectedRoles.Any(e=> e == role.Id)){<text> checked="checked" </text>}  />
                    @role.Name
                </label>
            }
        }
    </div>
    <div>
        <input class="k-button" type="submit" value="Save"/>
    </div>
}


@using (Html.BeginScripts()) 
{
    
}