@using MyAndromeda.Configuration;

@{
    var workContext = Html.GetWorkContext();
    var authorizer = Html.GetAuthorizer();
    var id = workContext.CurrentSite.AndromediaSiteId;
    var externalSiteId = workContext.CurrentSite.ExternalSiteId;
    var container = AzureBlobStorage.ContainerName;
}


<div id="EventDrivenMarketing" ng-controller="StartController">
    <div class="alert alert-info">
        Make sure changes have been saved before switching tabs.
    </div>
    <uib-tabset>
        <uib-tab heading="Contact" active="tab1.active">
            <div ng-if="tab1.active" class="well">

                <contact-template andromeda-site-id="@id">

                </contact-template>

            </div>
        </uib-tab>
        <uib-tab heading="No Orders" active="tab2.active">
            <!-- no orders tab 1 -->
            <div ng-if="tab2.active" class="well">

                <event-template andromeda-site-id="@id"
                                external-site-id="@externalSiteId"
                                container="@container"
                                marketing-type="no orders"
                                description="The customer has never had an order, but is registered."
                                show-sending-button="true">
                </event-template>
            </div>
        </uib-tab>
        <uib-tab heading="Current Customer" active="tab3.active">
            <div ng-if="tab3.active" class="well">

                <event-template andromeda-site-id="@id"
                                external-site-id="@externalSiteId"
                                container="@container"
                                marketing-type="no orders in a week"
                                description="The customer has made no orders in the last week."
                                show-sending-button="true">
                </event-template>
            </div>
        </uib-tab>
        <uib-tab heading="Lazy Customers" active="tab4.active">
            <div ng-if="tab4.active" class="well">
                <event-template andromeda-site-id="@id"
                                external-site-id="@externalSiteId"
                                container="@container"
                                marketing-type="no orders in a month"
                                description="The customer has made no orders in the last month."
                                show-sending-button="true">
                </event-template>
            </div>
        </uib-tab>

        <uib-tab heading="Lost Customers" active="tab5.active">
            <div ng-if="tab5.active" class="well">
                <!-- Current customer tab 4 -->
                <event-template andromeda-site-id="@id"
                                external-site-id="@externalSiteId"
                                container="@container"
                                marketing-type="no orders in three months"
                                description="The customer has made no orders in the last three months."
                                show-sending-button="true">
                </event-template>
            </div>
        </uib-tab>
        @if (User.Identity.Name.Equals("Matt", StringComparison.InvariantCultureIgnoreCase))
        {
            <uib-tab heading="Test" active="testtab.active">
                <!-- Test tab 5 -->
                <div ng-if="testtab.active" class="col-sm-12">
                    <event-template andromeda-site-id="@id"
                                    external-site-id="@externalSiteId"
                                    container="@container"
                                    marketing-type="test marketing type"
                                    description="Matt's test."
                                    show-sending-button="true">
                    </event-template>
                </div>
            </uib-tab>
        }
    </uib-tabset>
</div>

@using (Html.BeginScripts())
{
    if (false)
    {
        <script src="~/lib/myandromeda/MyAndromeda.App.All.js"></script>
    }

    <script type="text/javascript">
        $(function () {

            MyAndromeda.Marketing.SetupMaketingEvents("EventDrivenMarketing");
        });
    </script>

    <script type="text/template" id="contact-template.html">

        <!-- https://sendgrid.com/docs/API_Reference/Marketing_Emails_API/sender_address.html -->


        <div kendo-validator="validator" class="form-horizontal form-widgets k-widget">
            <div class="k-rtl">
                <div kendo-toolbar k-options="mainToolbarOptions">

                </div>
            </div>

            <br />
            <div class="form-group">
                <label class="control-label col-sm-2">Name</label>
                <div class="col-sm-6">
                    <input class="k-textbox" type="text" name="name" required
                           placeholder="Name"
                           ng-model="contact.Name" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">From</label>
                <div class="col-sm-6">
                    <input class="k-textbox" type="email" name="from-email" required
                           placeholder="From"
                           ng-model="contact.From" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Reply-To</label>
                <div class="col-sm-6">
                    <input class="k-textbox" type="email" name="reply-to-email" required
                           placeholder="Reply-To"
                           ng-model="contact.ReplyTo" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">
                    Address
                </label>
                <div class="col-sm-6">
                    <input class="k-textbox" type="text" name="address" required
                           placeholder="Address"
                           ng-model="contact.Address" />
                    <br /><br />
                    <input class="k-textbox" type="text" name="city" required
                           placeholder="City"
                           ng-model="contact.City" />
                    <br /><br />
                    <input class="k-textbox" type="text" name="county" required
                           placeholder="County"
                           ng-model="contact.County" />
                    <br /><br />
                    <input class="k-textbox" type="text" name="zip" required
                           placeholder="zipcode/postal"
                           ng-model="contact.PostCode" />
                    <br /><br />
                    <input class="k-textbox" type="text" name="country" required
                           placeholder="Country"
                           ng-model="contact.Country" />
                </div>

            </div>

        </div>

    </script>

    <script type="text/template" id="event-template.html">
        <div class="form-horizontal form-widgets k-widget">
            <div class="k-rtl">
                <div kendo-toolbar k-options="mainToolbarOptions">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Setup -->
                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="control-label col-sm-2">Subject</label>
                        <div class="col-sm-10">
                            <input class="k-textbox" type="text" name="subject"
                                   placeholder="Email subject"
                                   ng-model="model.Subject" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="control-label col-sm-2">Options</label>
                        <div class="col-sm-6">
                            <label>
                                <input type="checkbox" ng-model="model.EnableEmail" />
                                Enable Email
                            </label>
                            <br />
                            <label>
                                <input type="checkbox" ng-model="model.EnableSms" disabled="disabled" />
                                Enable SMS
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Editors -->
            <div class="row">
                <div class="col-sm-8">

                    <textarea kendo-editor="EmailTemplateEditor"
                              k-ng-model="model.EmailTemplate"
                              k-resizable="{ content: true, toolbar: false }"
                              k-image-browser="imageBrowser"
                              k-tools="editorTools"></textarea>

                </div>
                <div class="col-sm-4" style="display:none">
                    <div class="k-widget">
                        <div kendo-toolbar k-options="toolbarOptions"></div>
                        <textarea class="k-textbox" style="width:100%; min-height:200px"
                                  cols="20" rows="6"
                                  ng-model="model.SmsTemplate"></textarea>
                    </div>
                </div>
            </div>
        </div>


        <div kendo-window="createPreviewWindow" k-title="'Preview'" k-width="500" k-modal="true" k-visible="false">
            <div class="container-fluid">
                <div kendo-validator="previewValidator">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="label label-default">Emails</div>
                            <input class="k-textbox" type="text" required style="width:100%"
                                   placeholder="Enter email(s) comma delimited."
                                   ng-model="previewSettings.To" />
                        </div>
                        <div class="col-sm-12">&nbsp;</div>
                        <div class="col-sm-12">
                            <label>
                                <input type="checkbox" ng-model="previewSettings.Send" />
                                Send a preview to the recipients above
                            </label>
                        </div>
                        <div class="col-sm-12">&nbsp;</div>
                        <div class="col-sm-12">
                            <a class="btn btn-primary" ng-click="sendPreview()">Send</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div kendo-window="showPreviewWindow" class="intrinsic-container"
             k-title="'Preview'"
             k-width="500"
             k-height="500"
             k-modal="true"
             k-iframe="true"
             k-visible="false">
            <iframe update-body-content dynamic-content="{{model.Preview}}" src="javascript:''"></iframe>
        </div>

        <div kendo-window="showRecipientWindow"
             k-title="'Preview'"
             k-width="500"
             k-height="500"
             k-modal="true"
             k-iframe="true"
             k-visible="false">

            <recipient-template>
            </recipient-template>
        </div>
    </script>

    <script type="text/template" id="emailTokenTemplate.html">
        <span class="token-label" for="ToolsInsertToken">Tokens:</span>
        <select kendo-drop-down-list="tokenPicker"
                k-data-text-field="'Text'"
                k-data-value-field="'Value'"
                k-data-source="tokenDataSource"></select>
        <a ng-click="selectToken()" class="k-button k-insert-token-button k-group-end">Insert</a>
    </script>

    <script type="text/template" id="recipientListTemplate.html">


        <div kendo-grid="recipientList" options="mainGridOptions">

        </div>
    </script>
}