@model MyAndromeda.Web.Models.SiteModel

@* Help Sections *@
@Html.Action("StoreDetail", "Help")
@Html.Action("Address", "Help")
@Html.Action("Employee", "Help")
@Html.Action("OpeningHours", "Help")



@{
    ViewBag.Title = "My Andromeda";
}


@helper RenderSiteDetails(bool editable)
{
    <div class="editDetails">
        <div class="header">
            <h3>Store Detail</h3>
            <a href="@Url.Action("Index", new { edit = true })" title="change site details" class="k-button">Edit</a>
        </div>
        <div>
            <label class="highlight-4" for="@Html.NameFor(e => e.SiteDetails.ClientSiteName)">Your site name:</label>
            @if (Model.Editable)
            {
                <span class="k-textbox">
                    <input type="text" name="@Html.NameFor(e => e.SiteDetails.ClientSiteName)" value="@Model.SiteDetails.ClientSiteName" />
                </span>
            }
            else
            {
                @Model.SiteDetails.ClientSiteName
            }
        </div>
        <div>
            <label class="highlight-4" for="@Html.NameFor(e => e.SiteDetails.CustomerSiteId)">Your site id:</label>
            @if (Model.Editable)
            {
                <span class="k-textbox">
                    <input type="text" name="@Html.NameFor(e => e.SiteDetails.CustomerSiteId)" value="@Model.SiteDetails.CustomerSiteId" />
                </span>                
            }
            else
            {
                @Model.SiteDetails.CustomerSiteId
            }
        </div>
        <div>
            <label class="highlight-4" for="@Html.NameFor(model => model.SiteDetails.ExternalSiteName)">External site name</label>
            @if (Model.Editable)
            {
                <span class="k-textbox">
                    <input type="text" name="@Html.NameFor(model => model.SiteDetails.ExternalSiteName)" value="@Model.SiteDetails.ExternalSiteName" />
                </span>
            }
            else
            {
                @Model.SiteDetails.ExternalSiteName
            }
        </div>
        <div>
            <label class="highlight-4" for="">Phone number</label>
            @if (Model.Editable)
            {
                <span class="k-textbox">
                    <input type="text" name="@Html.NameFor(model => model.SiteDetails.Phone)" value="@Model.SiteDetails.Phone" />
                </span>
            }
            else
            {
                @(Model.SiteDetails.Phone == null || Model.SiteDetails.Phone.Length == 0 ? "No number provided" : Model.SiteDetails.Phone)
            }
        </div>
    </div>
}

<div class="row">

    <div class="col-md-4 col-xs-12">

        <div id="siteDetails">

            @if (Model.Editable)
            {
                <!-- Edit Mode -->
                using (Html.BeginForm())
                {
                @Html.HiddenFor(model => model.ExternalSiteId)
                @RenderSiteDetails(true)
                    if (ViewBag.Error != null)
                    {
                <p>
                    @ViewBag.Error
                </p>
                    }
                <div style="clear: both;">
                    <p class="editor-submitButton">
                        <input type="submit" value="Update" class="k-button" />
                        <a class="k-button" href="@Url.Action("Index")">Cancel</a>
                    </p>
                </div>
                }
            }
            else
            {
                @RenderSiteDetails(false)
            }

        </div>
    </div>
    <div class="col-md-4  col-xs-12">
        <div class="address-wrapper">
            <div class="header">
                <h3>Address</h3>
                <a href="@Url.Action("ChangeAddress")" title="change address" class="k-button">Edit</a>
            </div>
            @if (Model.SiteDetails.Address == null)
            {
                <p class="subtitle-block">No Address</p>
            }
            else
            {
                <h4 style="margin-left: 7px;"></h4>
                <div class="siteDetails">

                    @if (Model.SiteDetails.Address.Country.ISO3166_1_alpha_2 == "GB")
                    {
                        <div>@Model.SiteDetails.Address.RoadNum</div>
                        <div>@Model.SiteDetails.Address.RoadName</div>
                        <div>@Model.SiteDetails.Address.Town</div>
                        <div>@Model.SiteDetails.Address.Postcode</div>
                        <div>@Model.SiteDetails.Address.County</div>
                        <div>@Model.SiteDetails.Address.Prem1</div>
                        <div>@Model.SiteDetails.Address.Prem2</div>
                        <div>@Model.SiteDetails.Address.Org1</div>
                        <div>@Model.SiteDetails.Address.Org2</div>
                        <div>@Model.SiteDetails.Address.Locality</div>
                        <div>@Model.SiteDetails.Address.Dps</div>
                        <div>@Model.SiteDetails.Address.Country.CountryName</div>
                    }
                    else
                    {
                        <div>@Model.SiteDetails.Address.RoadNum</div>
                        <div>@Model.SiteDetails.Address.RoadName</div>
                        <div>@Model.SiteDetails.Address.Town</div>
                        <div>@Model.SiteDetails.Address.Postcode</div>
                        <div>@Model.SiteDetails.Address.County</div>
                        <div>@Model.SiteDetails.Address.Prem1</div>
                        <div>@Model.SiteDetails.Address.Prem2</div>
                        <div>@Model.SiteDetails.Address.Prem3</div>
                        <div>@Model.SiteDetails.Address.Prem4</div>
                        <div>@Model.SiteDetails.Address.Prem5</div>
                        <div>@Model.SiteDetails.Address.Prem6</div>
                        <div>@Model.SiteDetails.Address.Org1</div>
                        <div>@Model.SiteDetails.Address.Org2</div>
                        <div>@Model.SiteDetails.Address.Org3</div>
                        <div>@Model.SiteDetails.Address.Locality</div>
                        <div>@Model.SiteDetails.Address.Dps</div>
                        <div>@Model.SiteDetails.Address.Country.CountryName</div>
                    }
                </div>
                <div style="clear: both;"></div>
            }
        </div>
    </div>
    <div class="col-md-4  col-xs-12">
        <div class="opening-hours-wrapper">
            <div class="header">
                <h3>Opening hours</h3>
                <a href="@Url.Action("Index", "OpeningHours")" class="k-button" title="change opening hours">Edit</a>
            </div>

            @Html.Action("ListOpeningHours", "OpeningHours")



        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="header">
            <h3>Employees</h3>
            @*<a href="@Url.Action("ChangeEmployees")" title="change employees" class="k-button">Edit</a>*@
        </div>

        @Html.Action("PartialIndex", "Employee")
    </div>
</div>

<br />
<div class="separator"></div>
