@model AndroAdmin.ViewModels.HostV2.HostStoreSelectionViewModel
@{
    var groups = Model.PossibleHosts;
}

@using (Html.BeginForm())
{ 
    @Html.HiddenFor(e => e.StoreId);
    @Html.ValidationSummary()
    
    <div class="header">
        <h3>Edit host config for: @Model.Store.Name</h3>
        <button class="k-button" type="submit" type="submit">Save</button>
    </div>@*

    <a class="k-primary k-button k-button-clear">Clear all</a>*@
    
foreach (var group in groups)
{
    <div class="header">
        <h4>@group.Key</h4>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <label>
                            <input class="selectAll" type="checkbox" />Select All</label>
                    </th>
                    <th>Enabled</th>
                    <th>URL</th>
                    <th>Version</th>
                    <th>Public</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in group.Value.OrderBy(e => e.Url).ThenBy(e => e.Version))
                {
                    <tr>
                        <td>
                            <input type="checkbox" value="@item.Id" name="@Html.NameFor(e => e.UserSelectedStoreHosts)" @if (Model.UserSelectedStoreHosts.Any(id => id == item.Id))
                                                                                                                        { <text>checked="checked"</text> } />
                        </td>
                        <td>@item.Enabled</td>
                        <td>@item.Url</td>
                        <td>@item.Version</td>
                        <td>@item.Public</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
                                   }
    <div class="content">
        <button class="k-primary k-button" type="submit" type="submit">Save</button>
    </div>
}

<script type="text/javascript">
    $(function () {
        $(".table-wrapper").on("change", ".selectAll", function (e) {
            var checkbox = $(this);
            var gridWrapper = checkbox.closest(".table-wrapper");
            var checkBoxes = gridWrapper.find("table.table tbody input");
            checkBoxes.prop('checked', checkbox.prop('checked'));
        });

        $(".table").kendoGrid({
            sortable: true
        });

        $("form").on("click", ".k-button-clear", function (e) {
            var checkBoxes = $("form").find("table input");
            checkBoxes.prop('checked', '');
        });
    });

</script>
