@model dynamic
@using MyAndromeda.Data.DataWarehouse.Domain.Reporting.Query;
@using MyAndromeda.Web.Areas.Reporting.ViewModels;

@{
    var dailyFilter = new FilterQuery() { FilterFrom = DateTime.Today.AddDays(-1), FilterTo = DateTime.Today };
    var weeklyFilter = new FilterQuery() { FilterFrom = DateTime.Today.AddDays(-7), FilterTo = DateTime.Today };
    var monthlyFilter = new FilterQuery() { FilterFrom = DateTime.Today.AddDays(-30), FilterTo = DateTime.Today };
}
<div class="header">
    <h3>Store Performance</h3>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="header">
            <h3>Yesterday's Performance</h3>
            <p>
                @dailyFilter.FilterFrom.Value.ToString("g") - @dailyFilter.FilterFrom.Value.AddSeconds(-1).ToString("g")
            </p>
        </div>
        @Html.Partial("PerformanceRange", dailyFilter)
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="header">
            <h3>Last 7 days</h3>
            <p>
                @weeklyFilter.FilterFrom.Value.ToString("g") - @weeklyFilter.FilterFrom.Value.AddSeconds(-1).ToString("g")
            </p>
        </div>
        @Html.Partial("PerformanceRange", weeklyFilter)
    </div>


    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="header">
            <h3>Last 30 days</h3>
            <p>
                @monthlyFilter.FilterFrom.Value.ToString("g") - @monthlyFilter.FilterFrom.Value.AddSeconds(-1).ToString("g")
            </p>
        </div>
        @Html.Partial("PerformanceRange", monthlyFilter)
    </div>
</div>
<br />
<div class="clearfix">
    <!-- Hourly -->
    @Html.Partial("PerformanceRangeHourPanel")
</div>