@{
    var workContext = Html.GetWorkContext();    
}


@using (Html.BeginHelpSection("Opening Hours", TabArea.Help, false))
{
    <div id="OpeningHoursHelpSection">
        <div class="header"><h3>Store Opening Hours</h3></div>
        <p>If not already open the <a href="@Url.Action("ChangeOpeningHours", "Site")">edit opening hours page</a>.</p>
        <div data-role="tabstrip">
            <ul>
                <li class="k-state-active">
                    Getting Started
                </li>
                <li>Opening/Closing a day 
                </li>
                <li>Adding a time
                </li>
                <li>Removing a time
                </li>
            </ul>
            <div>
                @Html.Partial("OpeningHours-GettingStarted")
            </div>
            <div>
                @Html.Partial("OpeningHours-OpeningOrClosing")
            </div>
            <div>
                @Html.Partial("OpeningHours-AddingTime")
            </div>
            <div>
                @Html.Partial("OpeningHours-RemovingTime")
            </div>
        </div>
    </div>
}

@using (Html.BeginScripts(Area.Foot))
{
    <script type="text/javascript">
        $(function () {
            var window = $("#OpeningHoursHelpSection");
            var vm = kendo.observable({});

            kendo.bind(window, vm);
        });
    </script>
}