@model MyAndromeda.Web.Areas.Users.ViewModels.EditUserViewModel
@{
    var workContext = Html.GetWorkContext();
    var translator = Html.GetTranslator();
}
<div class="row">

    <div class="col-sm-12" id="CreateUserWrapper">
        @if (workContext.CurrentChain.Available)
        {

            <div class="header">
                <h3>@translator.T("Create user for {0}", workContext.CurrentChain.Chain.Name)</h3>
                <a class="k-button" href="@Url.Action("Index")">Back</a>
            </div>

        }
        else
        {

            <div class="header">
                <h3>@translator.T("Edit user")</h3>
                <a class="k-button" href="@Url.Action("Index")">Back</a>
            </div>

        }

        @using (Html.BeginForm())
        {
            <div class="panel panel-default">
                <div class="panel-body">

                    @if (!this.ViewData.ModelState.IsValid)
                    {
                        <div class="alert">
                            @Html.ValidationSummary()
                        </div>
                    }
                    <div class="col-sm-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">User Details</div>
                            </div>
                            <div class="panel-body">
                                <div>
                                    @Html.LabelFor(e => e.UserName, "User Name")
                                    <input type="text"
                                           readonly="readonly"
                                           required="required" autocomplete="off"
                                           id="@Html.IdFor(e => e.UserName)" name="@Html.NameFor(e => e.UserName)"
                                           class="form-control"
                                           value="@Model.UserName"
                                           placeholder="name@organization.org" />

                                    @Html.ValidationMessageFor(e => e.UserName)
                                </div>
                                <div>
                                    @Html.LabelFor(e => e.FirstName, translator.T("First Name"))
                                    <input type="text" required="required" class="form-control" autocomplete="off"
                                           id="@Html.IdFor(e => e.FirstName)" name="@Html.NameFor(e => e.FirstName)"
                                           placeholder="Joe"
                                           value="@Model.FirstName" />
                                    @Html.ValidationMessageFor(e => e.FirstName)
                                </div>
                                <div>
                                    @Html.LabelFor(e => e.LastName, translator.T("Last Name"))
                                    <input type="text" required="required" class="form-control" autocomplete="off"
                                           id="@Html.IdFor(e => e.LastName)" name="@Html.NameFor(e => e.LastName)"
                                           value="@Model.LastName"
                                           placeholder="Bloggs" />
                                    @Html.ValidationMessageFor(e => e.LastName)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Grant Access
                                </div>
                            </div>
                            <div class="panel-body">
                                @if (workContext.CurrentChain.Available) { 
                                <div class="alert alert-info">
                                    Chain and store selection is restricted within @workContext.CurrentChain.Chain.Name
                                </div>
                                }
                                <div class="multi-section">
                                    @Html.LabelFor(e => e.SelectedChainIds, "Chains")
                                    @(Html.Kendo().MultiSelectFor(m => m.SelectedChainIds)
                                          .DataTextField("Name")
                                          .DataValueField("Id")
                                          .Placeholder("Select Chains...")
                                          .AutoBind(true)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  if (workContext.CurrentChain.Available)
                                                  {
                                                      read.Action("ListReadonly", "Chains", new { area = "", ChainId = workContext.CurrentChain.Chain.Id });
                                                  }
                                                  else
                                                  {
                                                      read.Action("ListReadonly", "Chains", new { area = "" });
                                                  }
                                              })
                                              .ServerFiltering(false);
                                          })
                                    )
                                </div>
                                <div class="multi-section">
                                    @Html.LabelFor(e => e.SelectedStoreIds, "Stores")
                                    @(Html.Kendo().MultiSelectFor(m => m.SelectedStoreIds)
                                          .DataTextField("ClientSiteName")
                                          .DataValueField("Id")
                                          .Placeholder("Select Stores...")
                                          .AutoBind(true)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  if (workContext.CurrentChain.Available)
                                                  {
                                                      read.Action("ListReadonly", "Sites", new { area = "", chainId = workContext.CurrentChain.Chain.Id });
                                                  }
                                                  else
                                                  {
                                                      read.Action("ListReadonly", "Sites", new { area = "" });
                                                  }

                                              })
                                              .ServerFiltering(false);
                                          })
                                        .Value(Model.SelectedStoreIds)
                                    )
                                </div>
                                <br />
                                <div class="alert alert-info">
                                    Giving access to a chain will grant access to any store within it.
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="panel-footer">
                    <input class="btn btn-primary" type="submit" value="@translator.T("Save")" />
                </div>
            </div>
        }


    </div>
</div>

@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(function () {
            var tooltip = $("#CreateUserWrapper").kendoTooltip({
                filter: "input.tooltip-info",
                width: 120,
                position: "right"
            }).data("kendoTooltip");
        });
    </script>
}
