@using AndroAdmin.ViewModels;

@model HubSelectionListViewModel
@{
    ViewBag.Title = "Edit store hubs";
}

<p>Below are a list of the SignalR hubs associated with this store.</p>

@using (Html.BeginForm("Edit", "StoreHubs"))
{
    @Html.HiddenFor(e => e.StoreId)
    @Html.HiddenFor(e => e.ExternalStoreId)
    <table id="hubgrid">
        <colgroup>
            <col style="width: 100px" />
            <col />
            <col />
            <col style="width: 100px" />
        </colgroup>
        <thead>
            <tr>
                <th>Selected</th>
                <th>Name</th>
                <th>Address</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AllHubs)
            {
                bool setToChecked = this.Model.SelectedHubs.Any(e => e == item.Id);
                <tr>
                    <td>
                        <input type="checkbox" name="@Html.FieldNameFor(e => e.SelectedHubs)" class="selectAHub" value="@item.Id" @(setToChecked ? "checked='checked'" : "") />
                    </td>
                    <td>
                        <label>
                            @item.Name
                        </label>
                    </td>

                    <td>
                        @item.Address
                    </td>
                    <td>
                        @item.Active
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="clear">
        <input type="submit" value="Save" id="SaveButton" disabled="disabled" />
        <p class="change-note">* There are no changes currently to save.</p>
    </div>
}

<script type="text/javascript">
    $(function () {
        $("form").on("change", ".selectAHub", function () {
            $("#SaveButton").removeAttr("disabled");
            $(".change-note").fadeOut();
        });
        $("#hubgrid").dataTable();
    });
</script>
