@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}
@helper RenderFooter()
{
    @Html.Partial("_Footer")    
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/styles/myAndromeda/css")
    @Scripts.Render("~/bundles/modernizr")
    
@*    @Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/kendo/2013.3.1122/jquery.min.js"></script>
	<script src="~/Scripts/linq.js"></script>
    <script src="~/Scripts/kendo/2013.3.1122/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2013.3.1122/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo/kendoExtensions.js"></script>
    <script src="~/Scripts/kendo/2013.3.1122/cultures/@("kendo.culture." + culture + ".min.js")"></script>
@*    <link href='http://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'>*@
    <link href='http://fonts.googleapis.com/css?family=Basic' rel='stylesheet' type='text/css'>
    <link href="~/Content/kendo/2013.3.1122/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.3.1122/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.3.1122/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.3.1122/kendo.dataviz.bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <!--Header Starts-->
    <div id="header">
        <div id="header-inner">
            <!--start logo-->
            <div id="logo">
                <img src="@Url.Content("~/Content/Images/logo.png")" alt="My Andromeda"/>
                <div id="title">
                    <h1><a href="#">My Andromeda</a></h1>
                    <p>A World of epossibilities</p>
                </div>
            </div>
            <!-- end logo -->
            <div class="clear"></div>
        </div><!-- end header-inner -->
    </div>
    <div class="container">
        @Html.Partial("_NotificationsTemplate")
        <section id="main">
            @RenderBody()
        </section>
    </div>
    @RenderFooter()
    @RenderSection("scripts", required: false)
    @Html.PageFooterScripts()
</body>
</html>
