@model MyAndromeda.Web.Areas.Store.Models.OpeningTimesViewModel
           
@{
    var workContext = Html.GetWorkContext();
    ViewBag.Title = "OpeningTimes";
}
@Html.Action("OpeningHours", "Help")


<div class="header">
    <h3>@workContext.CurrentSite.Site.ClientSiteName Opening Hours</h3>
    <a class="k-button" href="@Url.Action("Index", "Store", new { Area = "Store" })">Back</a>
</div>
@Html.ValidationSummary()
<div class="clearfix">
    @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary {{"Day", "Monday"}})
    @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary {{"Day", "Tuesday"}})
    @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary {{"Day", "Wednesday"}})
    @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary {{"Day", "Thursday"}})
    @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary {{"Day", "Friday"}})
    @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary {{"Day", "Saturday"}})
    @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary {{"Day", "Sunday"}})
</div>

<div style="clear:both;"></div>

<div id="store-scheduler">
    <div ui-view></div>
</div>

@using (Html.BeginScripts()) 
{
    if (false) { 
        <script src="~/lib/myandromeda/MyAndromeda.App.All.js"></script>
    }


    <script type="text/ng-template" id="OpeningHours-template.html">
        <div class="panel panel-default">
            <div class="panel-heading">
                hi
            </div>
        </div>

        <div kendo-scheduler k-options="schedulerOptions">
        </div>
    </script>


    <script type="text/javascript">
        $(function () {

            var element = $("#store-scheduler");
            var chainId = '@workContext.CurrentChain.Chain.Id';
            var andromedaSiteId = '@workContext.CurrentSite.AndromediaSiteId';
            MyAndromeda.Stores.OpeningHours.boostrap(element, chainId, andromedaSiteId);

        });
    </script>

   
}