@model MyAndromeda.Web.Areas.Store.Models.OpeningTimesViewModel

@{
    var workContext = Html.GetWorkContext();
    ViewBag.Title = "OpeningTimes";
}
@Html.Action("OpeningHours", "Help")


<div class="header">
    <h3>@workContext.CurrentSite.Site.ClientSiteName Opening Hours</h3>
    <a class="k-button" href="@Url.Action("Index", "Store", new { Area = "Store" })">Back</a>
</div>

@(Html.Kendo().TabStrip().Name("openingHoursOptions").Items(items =>
{

    items.Add().Text("Simple mode").Selected(true).Content(@<text>

        @Html.ValidationSummary()

        <div class="clearfix">
            @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary { { "Day", "Monday" } })
            @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary { { "Day", "Tuesday" } })
            @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary { { "Day", "Wednesday" } })
            @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary { { "Day", "Thursday" } })
            @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary { { "Day", "Friday" } })
            @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary { { "Day", "Saturday" } })
            @Html.Partial("ChangeOpeningHourPartial", Model, new ViewDataDictionary { { "Day", "Sunday" } })
        </div>

        <div style="clear:both;"></div>

    </text>);
    items.Add().Text("Advanced").Content(@<text>


        <div id="store-scheduler">
            <div ui-view></div>
        </div>

    </text>);


}))




@using (Html.BeginScripts())
{
    if (false)
    {
        <script src="~/lib/myandromeda/MyAndromeda.App.All.js"></script>
    }

    <script type="text/ng-template" id="occasionTask.html">


        <div class="container-fluid">
            <div ng-if="task.title">
                {{::task.title}}
            </div>

            <div class="row" ng-repeat="occasion in state.occasions">
                <div class="col-sm-12">
                    <i class="fa fa-cutlery" style="color:{{::getColour(occasion)}} "></i>
                    {{::occasion}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h6>{{::extra.startTime}} - {{::extra.endTime}} <span class="label label-success">{{extra.hours}} hr</span></h6>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="OpeningHours-template.html">
        <style>
            .invalid-slot {
                background: red !important;
                cursor: no-drop;
            }
        </style>
        <div kendo-scheduler k-options="schedulerOptions">
        </div>
    </script>


    <script type="text/javascript">
        $(function () {

            var element = $("#store-scheduler");
            var chainId = '@workContext.CurrentChain.Chain.Id';
            var andromedaSiteId = '@workContext.CurrentSite.AndromediaSiteId';
            MyAndromeda.Stores.OpeningHours.boostrap(element, chainId, andromedaSiteId);

        });
    </script>

    <script type="text/ng-template" id="occasionTaskEditor.html">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Occasion settings
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>Title:</div>

                                    <input name="title" id="title" class="k-textbox" type="text" required placeholder="Title" ng-model="task.title" />
                                    <div data-for="title" class="k-invalid-msg" style="display: none;"></div>
                                </div>
                                <div class="col-sm-6">
                                    <div></div>
                                    <label><input type="checkbox" ng-model="task.isAllDay" /> All day?</label>
                                </div>
                            </div>
                            <br />
                            <div class="row" ng-if="!task.isAllDay">

                                <div class="col-sm-6">
                                    <div>Start:</div>
                                    <input kendo-date-time-picker required
                                           name="start"
                                           k-ng-model="task.start"
                                           style="width: 100%;" />
                                    <span data-for="start" class="k-invalid-msg" style="display: none;"></span>
                                </div>
                                <div class="col-sm-6">
                                    <div>End:</div>
                                    <input kendo-date-time-picker required
                                           name="end"
                                           k-ng-model="task.end"
                                           style="width: 100%;" />
                                    <span data-for="end" class="k-invalid-msg" style="display: none;"></span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12">Occasion Type(s):</div>
                                <div class="col-sm-12">
                                    <select required kendo-multi-select k-options="occasionOptions" k-ng-model="task.Occasions"></select>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Repeat occasion on different days</div>
                        <div class="panel-body">
                            <div class="k-edit-label"><label for="recurrenceRule">Repeat</label></div>
                            <div data-container-for="recurrenceRule" class="k-edit-field">
                                <div data-bind="value:recurrenceRule" name="recurrenceRule" data-role="recurrenceeditor"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </script>
}