@model AndroAdminDataAccess.Domain.StorePaymentProvider
@using AndroAdminDataAccess.Domain
@{
    ViewBag.Title = "Add Payment Provider";
    Layout = "~/Views/Shared/_StoresLayout.cshtml";
}

<h2>Add Payment Provider</h2>
@using (Html.BeginForm()) 
{ 
    @Html.ValidationSummary(true) 
 
    <!-- Display Text -->
    <div class="editor-label"> 
        Display text: 
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.DisplayText) 
        @Html.ValidationMessageFor(model => model.DisplayText) 
    </div>
    <div class="formFieldHelp">Used internally on the AndroAdmin website only. E.g. Perfect Pizza datacash provider</div>
    
    <!-- Provider Name -->
    <div class="editor-label"> 
        Provider name:
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.ProviderName) 
        @Html.ValidationMessageFor(model => model.ProviderName) 
    </div>
    <div class="formFieldHelp">The type of provider e.g. datacash</div>
    
    <!-- Client Id -->
    <div class="editor-label"> 
        Client ID: 
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.ClientId) 
        @Html.ValidationMessageFor(model => model.ClientId) 
    </div>
    <div class="formFieldHelp">The username that must be passed to the provider to take payments</div>
    
    <!-- Client Password -->
    <div class="editor-label"> 
        Client password:
    </div> 
    <div class="editor-field"> 
        @Html.TextBoxFor(model => model.ClientPassword) 
        @Html.ValidationMessageFor(model => model.ClientPassword) 
    </div>
    <div class="formFieldHelp">The password that must be passed to the provider to take payments</div>
    
    <p class="editor-submitButton"> 
        <input type="submit" value="Add payment provider" />
        @Html.ActionLink("Cancel", "Index")
    </p> 
 
}