@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        International PoS catering software solutions.
    </p>

    <p>
        Our cloud reporting allows you to see your store performence anywhere in the world.
    </p>

    <p>
        Over 1000 users worldwide.
    </p>
</article>

<aside>
    <h3>What can we do for you?</h3>
    <p>
        Tell us and we'll deliver!
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>