@model MyAndromeda.WebApiServices.Models.Email.SuccessMessage


@section Header 
{
To: @Model.Contact.Value
Bcc: matthew.green@androtech.com
From: donotreply@androtech.com
Subject: Order update - accepted
}

@section StoreHeader 
{
    <h1>@Model.Site.ClientSiteName</h1>
}

<h2>Order: @Model.Message</h2>
<p style="text-align: left; font-size: 14px; line-height: 17px">
    Dear @Model.Customer.FirstName thank you for your order. It has been accepted and due at: 
    @Model.DeliveryTime
</p>
<p>Order Id: @Model.Order.RamesesOrderNum</p>

@section OrderSummary
{
    <p style="text-align: left; font-size: 14px; line-height: 17px">
        Pay type: @Model.Order.paytype
        <br />
        Total: @string.Format("{0:C}", Model.Order.FinalPrice) 
    </p>
}

@section OrderDetail{
    <ul>

        @foreach (var detail in Model.Order.OrderLines)
        {
            <li>
                <p style="text-align: left; font-size: 14px; line-height: 17px">
                    @detail.Description - @string.Format("{0:C}", detail.Price.GetValueOrDefault()/100) - x @detail.Qty
                </p>
            </li>
        }
    </ul>
}
