@model mdx.Store
@using mdx;
@{
    ViewBag.Title = "Individual store data for " + Model.StoreName + " from " + Model.Country;
}
<header>
    <div class="content-wrapper" style="background-color: lightblue">
        <nav>
            <div class="menu2">
                @for (int i = 0; i < DateUtilities.weekDayAveragingPeriod.Length; i++)
                {
                    var period = DateUtilities.weekDayAveragingPeriod[i];
                    if (ViewBag.term == period)
                    {
                    
                        <div class="rssbuttonvisited">
                            @DateUtilities.weekDayShortAveragingPeriod[i]
                        </div>
                    }
                    else
                    {
                        <div class="rssbutton">
                            @Html.ActionLink(DateUtilities.weekDayShortAveragingPeriod[i], "StorePlot",
                            new
                            {
                                storeName = Model.StoreName,
                                country = Model.Country,
                                term = period,
                                unitsAgo = 0,
                                storeDataIndex = ViewBag.storeDataIndex
                            })
                        </div>                 
                    }
                }
            </div>
        </nav>
    </div>
</header>
<div style="clear:both"></div>

    <button onclick="location.href='@Url.Action("Individual", "StoreData",
    new { storeName = Model.StoreName, country = Model.Country })'">
        Back to Store</button>

<h3>@CubeAdapter.storeDataNames[ViewBag.storeDataIndex] for "@Model.StoreName" from @Model.Country</h3>
<h4>@ViewBag.TimeDesc</h4>

<img src='@Url.Action("DrawChart", new
                 {
                     storeName = Model.StoreName,
                     country = Model.Country,
                     term = ViewBag.term,
                     unitsAgo = ViewBag.unitsAgo,
                     _storeDataIndex = ViewBag.storeDataIndex
                 })' style="width:100%" alt="" />


