@model MyAndromeda.Web.Models.Account.ForgottonPasswordModel
@{
    var translator = Html.GetTranslator();    
}
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="header">
            <h3>Reset password</h3>
            <a class="k-button" href="@Url.Action("Index", "Home")">Back</a>
        </div>
        <div class="col-xs-12">
            @using (Html.BeginForm())
            { 
                @Html.ValidationSummary()
        
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="@Html.NameFor(e => e.Email)">@translator.T("Email")</label>
                    <input type="email" name="@Html.NameFor(e => e.Email)" 
                    class="form-control"
                    value="@Model.Email"
                    placeholder="e.g. myname@example.net" 
                    required data-email-msg="Email format is not valid" />
                </div>
                <div>
                    <input class="k-button" type="submit" value="@translator.T("Send link")" />
                </div>
            }
        </div>

    </div>
    <div class="col-xs-12 col-md-6">
        <div class="header">
            <h3>About</h3>
        </div>
        <p>Use this form to request a link to reset your password. A email will be sent to your account.</p>
    </div>
</div>
