@model MyAndromeda.Web.Areas.AndroWebOrdering.Models.AndroWebOrderingWebSiteModel


<div style="height:450px;">
    <div style="margin-top:20px;">
    </div>
    <div>
        <h5><b>Checkout</b></h5>
        <div class="horizontalCheckBox">
            @*<div class="editor-label2">@Html.CheckBoxFor(e => e.WebsiteConfigurations.CheckoutSettings.IsEnableCustomerDetailsCheckoutPage) Enable customer details checkout page</div>*@
@*                <div class="editor-label2">@Html.CheckBoxFor(e => e.WebsiteConfigurations.CheckoutSettings.IsEnableAddressDetailsCheckoutPage) Enable address checkout page</div>
            <div class="editor-label2">@Html.CheckBoxFor(e => e.WebsiteConfigurations.CheckoutSettings.IsEnableFutureTimeOrders) Enable future time odrers</div>*@
            @*<div class="editor-label2 ">
                Terms & Conditions:
                @Html.CheckBoxFor(e => e.WebsiteConfigurations.CheckoutSettings.TermsAndConditions.IsShowInFooter) Show in footer
                @Html.CheckBoxFor(e => e.WebsiteConfigurations.CheckoutSettings.TermsAndConditions.IsCustomerMustAccept)Customer must accept
            </div>
            <div class="editor-label2">@Html.TextAreaFor(e => e.WebsiteConfigurations.CheckoutSettings.TermsAndConditions.PolicyText)</div>
            <div class="editor-label2">
                Custom policy 1:
                @Html.CheckBoxFor(e => e.WebsiteConfigurations.CheckoutSettings.CustomPolicy1.IsShowInFooter) Show in footer
            </div>
            <div class="editor-label2">@Html.TextAreaFor(e => e.WebsiteConfigurations.CheckoutSettings.CustomPolicy1.PolicyText) </div>
            <div class="editor-label2">
                Custom policy 1:
                @Html.CheckBoxFor(e => e.WebsiteConfigurations.CheckoutSettings.CustomPolicy2.IsShowInFooter) Show in footer
            </div>
            <div class="editor-label2">@Html.TextAreaFor(e => e.WebsiteConfigurations.CheckoutSettings.CustomPolicy2.PolicyText)</div>*@
        </div>

    </div>
</div>


