@model MyAndromeda.Web.Areas.AndroWebOrdering.Models.AndroWebOrderingWebSiteModel

@{
    var workcontext = Html.GetWorkContext();
    var translator = Html.GetTranslator();
}

<div kendo-validator="FacebookCrawlerSettingsValidator">
    <div class="row">
        <div class="col-xs-12 col-md-6 form-horizontal form-widgets">
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-12" for="Title">
                    @translator.T("Title :")
                </label>
                <div class="col-md-8 col-xs-12">
                    <input type="text" class="k-textbox"
                           required="required"
                           maxlength="75"
                           id="Title"
                           name="Title"
                           data-bind="value: Title" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-xs-12" for="SiteName">
                    @translator.T("Site Name :")
                </label>
                <div class="col-md-8 col-xs-12">
                    <input type="text" class="k-textbox"
                           id="SiteName"
                           name="SiteName"
                           maxlength="75"
                           required="required"
                           data-bind="value: SiteName" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-12" for="Description">
                    @translator.T("Description :")
                </label>
                <div class="col-md-8 col-xs-12">
                    <textarea class="k-textbox"
                              id="Description"
                              name="Desciption"
                              maxlength="200"
                              required="required"
                              data-bind="value: Description"
                              rows="5"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-xs-12">
                    @translator.T("Image :")
                    <br />
                    @translator.T("1200 x 630 Pixels")
                </label>
                <div class="col-md-8 col-xs-12">
                    <div class="thumbnail">
                        <img ng-if="HasFacebookProfileLogo" class="form-inline" ng-src="{{TempFaceboolProfileLogoPath}}" />
                        <div ng-hide="HasFacebookProfileLogo">
                            <p>Please upload a logo.</p>
                        </div>
                    </div>
                    <input id="FacebookCrawlerLogo" name="FacebookCrawlerLogoPath" type="file" accept="image/gif,image/jpeg,image/pjpeg,image/png,image/svg+xml,image/tiff"
                           kendo-upload="FacebookProfileLogoUpload"
                           k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: true }" />

                </div>
            </div>
            <div class="col-xs-12">
                <button type="button" class="k-button k-primary" ng-click="SaveChanges()">Save changes</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12" style="margin-top:15px">
                <h4>
                    <label class="control-label col-md-9 col-xs-12">
                        @translator.T("Facebook Crawler Guidelines")
                    </label>
                </h4>
                <img class="col-xs-12 col-md-9" style="height:250px;" src="/Content/images/social/Guidelines.png" />
            </div>
        </div>
    </div>
</div>
