@model List<AndroAdmin.Model.UserListModel>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Users</h2>

@*<div class="topLink">
    @Html.ActionLink("Add a new user", "Add")
</div>*@

<table class="listTable" id="users">
    <thead>
        <tr>
            <th>User</th>
            <th>Email address</th>
            <th>Security Groups</th>
        </tr>
    </thead>
    <tbody>
@foreach (AndroAdmin.Model.UserListModel userListModel in Model)
{ 
    <tr>
        <td>@if (ViewBag.Permissions.Contains("EditUser"))
            {
                @Html.ActionLink(userListModel.AndroUser.FirstName + " " + userListModel.AndroUser.SurName, "Edit", new { id = userListModel.AndroUser.Id.ToString() })
            }
            else
            { 
                <span>@userListModel.AndroUser.FirstName &nbsp;@userListModel.AndroUser.SurName</span>
            }</td>
        <td>@userListModel.AndroUser.EmailAddress</td>
        <td>@userListModel.SecurityGroups</td>
    </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    $('#users').dataTable(
        {
            "sScrollY": "500px",
            "bScrollCollapse": false,
            "bPaginate": false,
            "sPaginationType": "scrolling"
        }
     );
</script>