@{
    var translator = Html.GetTranslator();
    var authorizer = Html.GetAuthorizer();
    var context = Html.GetWorkContext(); 
}

@if (context.CurrentUser.Available && context.CurrentUser.FlattenedChains.Length > 0) 
{ 
    using (Html.BeginHelpSection(translator.T("General"), TabArea.Glossary, false))
    {
        <div class="header">
            <h3>@translator.T("General terms")</h3>
        </div>
    
        <dl>

            <dt>@translator.T("My Chains") <i class="fa fa-sitemap"></i></dt>
            <dd>@translator.T("The chain is the hierarchy of the stores, where stores are often grouped by region.")</dd>

            <dt>@translator.T("Chain Reports")</dt>
            <dd>@translator.T("This is a dashboard providing different overviews for store metrics such as:")
                <ul>
                    <li>@translator.T("Sales")</li>
                    <li>@translator.T("Orders")</li>
                </ul>
                @translator.T("See the reports glossary for more specific definitions for the reports and their metrics.")
            </dd>

        </dl>
    }
}

@using (Html.BeginHelpSection(translator.T("Reports"), TabArea.Glossary, true)) 
{
    <div class="header">
        <h3>@translator.T("Report terms")</h3>
    </div>
    <dl>
        <dt>@translator.T("Sales")</dt>
        <dd>@translator.T("This is the revenue of sales.")</dd>

        <dt>@translator.T("Average spend")</dt>
        <dd>@translator.T("This is the average amount spent during the period on the view.")</dd>

        <dt>@translator.T("Total orders")</dt>
        <dd>@translator.T("This includes orders of all types (delivery/collection/dine-in) received during the period on the view.")</dd>

        <dt>@translator.T("OTD / Out the door")</dt>
        <dd>@translator.T("This is the time (in minutes) from when the order was taken to when it was dispatched." )</dd>

        <dt>@translator.T("TTD / To the door")</dt>
        <dd>@translator.T("This is the time (in minutes) from when the order was taken to when it arrives at the customer.")</dd>
    </dl>
}